/*
Theme Name: Onlinenotes
Theme URI: https://www.onlinenote.in/
Author: MastroEdge
Author URI: https://www.onlinenote.in/
Tags: one-column, two-columns, right-sidebar, responsive-layout, custom-menu, editor-style, featured-images, full-width-template, theme-options
Text Domain: onotes
Description: Onlinenotes Theme v2.1
Version: 2.1
License:
License URI:
*/
body{background:#f4f5f9;font-family:'Raleway', sans-serif;font-size:16px;}
body.page-template-template-main-home{background:#fff;overflow-x:hidden;}
h1,h2,h3,h4{font-family:'Rajdhani', sans-serif;margin:0;}
h1{font-size:3.5rem;}
h2{line-height:1.3em;color:#1a1a1a;font-weight:600;margin:0;}
h3{font-size:3rem;}
h4{font-weight:500;font-size:22px;color:#4d4d4d;}
h5{font-size:20px;text-transform:uppercase;margin-top:0;margin-bottom:20px;color:#6e6e6e;font-weight:600;}
h6{font-size:1.5rem;}
p{color:#2e3137;font-weight:400;line-height:1.7em;font-size:16px;}
a{transition:all 0.15s;}
a:hover{text-decoration:none;color:#333333;}
a:focus{outline: none;}
ul{list-style:none;padding:0;margin:0;}
::-webkit-scrollbar {width: 4px;height: 7px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
::-webkit-scrollbar-thumb {background-color: #000000;border: 2px solid #555555;}
.btn{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.btn-fullwd{width:100%;font-size:16px;font-weight:500;padding:10px 0;}
.btn-small{width:120px;font-size:14px;font-weight:500;}
.btn-mid{width:160px;font-size:16px;}
.btn-prime{color:#fff;}
.btn-prime:hover{background:#333333;color:#fff;}
hr{border-top:1px solid #e7e7e7;margin:60px 0;}
hr.small{margin:40px 0;}
hr.fullwd{margin:30px 0;border-color:rgba(0, 0, 0, 0.15);}
.no-padding-left{padding-left:0 !important;}
.no-padding-right{padding-left:0 !important;}
.search-box{margin-top:18px;transition:all 0.3s;margin-bottom:20px;}
.search-box .input-group{position:relative;width:100%;left:56px;}
.search-box .input-group:before{content:"\e002";font-family:"Flaticon", sans-serif;font-size:35px;position:absolute;top:6px;left:10px;color:#888888;z-index:9999;}
.search-box .input-group .form-control{padding-left:50px;height:60px;display:block;transition:all 0.3s;background:none;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;border:1px solid #e6e6e6;background:#f3f6f8;}
.search-box .input-group .form-control:focus{background:#fff;}
.input-group .form-control{font-weight:500;font-size:16px;border:0;height:40px;-webkit-box-shadow:inset 0 0 0 0;-moz-box-shadow:inset 0 0 0 0;-ms-box-shadow:inset 0 0 0 0;-o-box-shadow:inset 0 0 0 0;box-shadow:inset 0 0 0 0;}
.input-group .form-control::-webkit-input-placeholder{color:#a6a6a6;font-weight:400;font-size:14px;}
.input-group .form-control:-moz-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group .form-control::-moz-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group .form-control:-ms-input-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group-btn .btn-prime{border:0;font-weight:600;height:40px;transition:all 0.3s;}
.input-group-btn .btn-prime:hover{border:0;}
.social-icons p{float:left;font-weight:600;margin-right:10px;margin-top:3px;}
.social-icons ul li{display:inline-block;}
.social-icons ul li .fa{color:#fff;transition:all 0.3s;}
.progress{overflow:visible;height:5px;-webkit-box-shadow:0 0 0 0;-moz-box-shadow:0 0 0 0;-ms-box-shadow:0 0 0 0;-o-box-shadow:0 0 0 0;box-shadow:0 0 0 0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;background:#eaeaea;width:160px;margin:0 auto 20px;}
.progress .progress-bar{-webkit-box-shadow:0 0 0 0;-moz-box-shadow:0 0 0 0;-ms-box-shadow:0 0 0 0;-o-box-shadow:0 0 0 0;box-shadow:0 0 0 0;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.progress .progress-bar span{position:absolute;font-size:16px;color:#a6a6a6;top:-25px;right:-20px;}
.content-loader{text-align:center;padding:60px 0 20px;}
.jscroll-loading{margin-top:60px;}
p0{padding:0;}
m0{margin:0;}
.header{margin-bottom:100px;background:#FFFFFF;}
.header .navbar{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;border:none;background:inherit;transition:all 0.3s;}
.header .navbar .navbar-brand{padding-top:25px;padding-bottom:30px;transition:all 0.3s;width:250px;margin:0 auto;float:none;display:block;}
.header .navbar img{float:left;height: 50px;}
.header .navbar img.logo{}
.head-left{min-height:50px;max-height: 50px;text-align:center;}
.header .navbar .inner-logo{background:url('images/site-arrow.png') no-repeat;background-position: left center;padding-left: 40px;display: inline-block;}
.header .navbar .navbar-brand h1{font-size:26px;font-weight:500;margin-top:10px;}
.header .navbar .main-navigation{transition:all 0.3s;}
.header .navbar .main-navigation > ul{padding-top:30px;}
.header .navbar .main-navigation > ul > li a{padding:10px 15px;font-weight:600;color:#a6a6a6;}
.header .navbar .main-navigation > ul > li > .dropdown-menu li a{font-size:14px;transition:none;}
.header .navbar .main-navigation > ul > li > .dropdown-menu li a:hover{color:#fff;}
.header .navbar .main-navigation .navbar-nav .open > a{background:none;}
.header .navbar.sticky{border-bottom:4px solid rgba(0, 0, 0, 0.1);opacity:0.96;}
.left-sidebar .items, .right-sidebar .items{padding-left:0;padding-right:0;}
.left-sidebar .left-navigation > ul{padding:0;margin:0;list-style:none;}
.left-sidebar .left-navigation > ul > li{line-height:1.5em;padding:10px 15px 10px 0;border-left:8px solid transparent;transition:all 0.3s;}
.left-sidebar .left-navigation > ul > li h4{padding:10px 0;padding-left:32px;line-height:1.3em;transition:all 0.3s;}
.left-sidebar .left-navigation > ul > li h4 a{color:#1a1a1a;}
.left-sidebar .left-navigation > ul > li h4:hover{}
.left-sidebar .left-navigation > ul > li h4 a:hover,.left-sidebar .left-navigation > ul > li h4:hover{}
.left-sidebar .left-navigation > ul > li:nth-child(4n+1){border-color:#6eb4e3;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+1) h4:hover{}
.left-sidebar .left-navigation > ul > li:nth-child(4n+1):hover{border-color:#6eb4e3;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+1) ul li>a:hover{background:#6eb4e3;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+2){border-color:#f4b756;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+2) h4:hover{}
.left-sidebar .left-navigation > ul > li:nth-child(4n+2):hover{border-color:#f4b756;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+2) ul li >a:hover{background:#f4b756;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+3){border-color:#a1d48d;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+3) h4:hover{}
.left-sidebar .left-navigation > ul > li:nth-child(4n+3):hover{border-color:#a1d48d;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+3) ul li > a:hover{background:#a1d48d;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+4){border-color:#eb7f73;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+4) h4:hover{}
.left-sidebar .left-navigation > ul > li:nth-child(4n+4):hover{border-color:#eb7f73;}
.left-sidebar .left-navigation > ul > li:nth-child(4n+4) ul li >a:hover{background:#eb7f73;}
.left-sidebar .left-navigation > ul > li a{display:block;}
.left-sidebar .left-navigation > ul > li ul{margin:0;padding:0;list-style:none;}
.left-sidebar .left-navigation > ul > li ul li{transition:all 0.3s;}
.left-sidebar .left-navigation > ul > li ul li a{padding:5px 0;display:block;color:#6e6e6e;padding-left:15px;font-size:14px;line-height:normal;}
.left-sidebar .left-navigation > ul > li ul li >a:hover{color:#fff;}
.left-sidebar .about-us{margin-right:-15px;padding:25px 30px 12px 30px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
.left-sidebar .about-us h4{margin-bottom:20px;}
.left-sidebar .about-us p{line-height:1.8em;color:#818896;}
.left-sidebar p.copyright{margin-top:20px;padding-left:30px;font-weight:300;color:#818896;}
.blog-item h2.title{color:#1a1a1a;}
.blog-item h2.title a{color:#1a1a1a;}
.blog-item .meta-info img.thumb{-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;width:30px;height:auto;float:left;margin-right:6px;}
.blog-item .meta-info ul{list-style:none;padding:3px;}
.blog-item .meta-info ul li{display:inline-block;margin-left:5px;}
.blog-item .meta-info ul li:after{content:"|";margin-left:10px;color:#c7cad0;}
.blog-item .meta-info ul li:last-child:after{content:"";}
.blog-item img.content{max-width:100%;height:auto;}
.blog-style-one{background:#fff;padding:10px 18px 21px;margin-bottom: 25px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.blog-style-one .blog-item{}
.blog-style-one .blog-item h2.title{font-size:30px;}
.blog-style-one .blog-item P{font-size:18px;}
.blog-style-one .blog-item .meta-info{margin:7px 0;}
.blog-style-one .blog-item .meta-info ul li{font-size:17px;}
.blog-style-one .blog-item img.content,.post-body p + img{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;margin:40px 0;}
.post-body img{max-width:100%;height:auto;}
 .post-body .wp-post-image{margin:30px 0;width:auto;}
.post-body p+img,.post-body br+img{margin:40px 0;width:auto;}
.blog-style-one .blog-item img.content{margin:0 0 40px;}
.blog-style-one .blog-item blockquote{border:none;margin-top:20px;padding:10px 40px;font-weight:500;}
.blog-style-one .blog-item blockquote em{color:#0b0c0d;text-align:left;}
.blog-style-one .blog-item em{color:#747b8a;}
.blog-style-one .social-share{margin:60px 0;padding:15px 0 5px 0;border-top:1px solid rgba(0, 0, 0, 0.06);border-bottom:1px solid rgba(0, 0, 0, 0.06);}
.blog-style-one .social-share p{color:#747b8a;}
.blog-style-one .social-share .social-icons{float:right;}
.blog-style-one .social-share .social-icons ul{float:right;}
.blog-style-one .social-share .social-icons li .fa:hover{opacity:0.8;}
.blog-style-one .social-share .social-icons li .fa-facebook{background:#2b77be;}
.blog-style-one .social-share .social-icons li .fa-twitter{background:#62bfef;}
.blog-style-one .social-share .social-icons li .fa-google-plus{background:#f25353;}
.blog-style-one .social-share .social-icons li .fa-pinterest{background:#d91c1c;}
.blog-style-one .social-share .social-icons li .fa-linkedin{background:#4875B4;}
.blog-style-one .social-share .social-icons li .fa-tumblr{background:#2B4964;}
.blog-style-one .social-share .social-icons li .fa-reddit{background:#ffb769;}
.blog-style-one .social-share .social-icons li .fa-envelope-o{background:#D29C48;}
.blog-style-one .about-author{border:1px solid rgba(0, 0, 0, 0.06);background:rgba(0, 0, 0, 0.02);-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:30px 30px 20px;}
.blog-style-one .about-author .thumb img{width:100%;height:auto;-webkit-border-radius:100%;-moz-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;border-radius:100%;}
.blog-style-one .about-author .desc h5{text-transform:none;color:#2e3137;margin-bottom:10px;font-weight:600;}
.blog-style-one .about-author .desc p{color:#747b8a;}
.blog-style-two .blog-item{background:#fff;-webkit-box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);-ms-box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);-o-box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.05), -1px 1px 3px 0 rgba(0, 0, 0, 0.05);-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;padding:25px 25px 20px 25px;margin-bottom:30px;}
.blog-style-two .blog-item h2.title{font-size:24px;}
.blog-style-two .blog-item .meta-info{margin:10px 0;}
.blog-style-two .blog-item .meta-info ul li{font-size:15px;}
.blog-style-two .blog-item .meta-info ul li:first-child{margin-left:0;}
.blog-style-two .blog-item p{text-align:left;text-justify:inter-word;}
.blog-style-two .blog-item img.content{margin-bottom:30px;width:100%;}
.style-sidebar-right_s.style-blog-grid .blog-style-two .the-post-thumbnail img{margin-bottom:30px;width:100%;}
.style-sidebar-both_s.style-blog-grid .blog-style-two .the-post-thumbnail img{margin-bottom:20px;width:100%;}
.blog-style-two .blog-item .audio-player,.blog-style-two .blog-item .video-player{margin:20px 0;}
.blog-style-two .blog-item .video-player{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;margin-top:0;margin-bottom:30px;}
.blog-style-two .blog-item .btn{margin-top:10px;}
.comments-area h3{margin-bottom:10px;margin-top:40px;}
.comments-area p{color:#818896;}
.comments-area .comments{margin-top:20px;}
.comments-area .comments > ul li .thumb{margin-top:10px;margin-right:-15px;}
.comments-area .comments > ul li .thumb img{-webkit-border-radius:100%;-moz-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;border-radius:100%;}
.comments-area .comments > ul li .col-md-20{padding-left:0;}
.comments-area .comments > ul li p .author-comment{color:#818896;font-weight:600;margin-right:30px;text-transform:capitalize;}
.comments-area .comments > ul li p a.comment-reply-link{color:#818896;text-decoration:underline;}
.comments-area .comments > ul li p span{color:#abb0b9;margin-right:20px;}
.comments-area .comments hr.small{margin:10px 0 20px 0;}
.comments-area .comment-form{margin-bottom:45px;}
.comments-area .comment-form h3{margin-bottom:30px;}
.comments-area .comment-form .comment-input{margin-bottom:10px;}
.comments-area .comment-form .comment-input .form-input{background:rgba(0, 0, 0, 0.04);border:none;outline:none;border:1px solid rgba(0, 0, 0, 0.06);-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:10px 8px;}
.comments-area .comment-form .comment-input input[type="text"],.comments-area .comment-form .comment-input input[type="email"]{width:40%;}
.comments-area .comment-form .comment-input textarea.form-input{width:100%;}
.comments-area .comment-form .btn-prime{background:#333;font-weight:700;color:#fff !important;}
.html5-image-gallery{margin:30px 0;}
.html5-image-gallery .item{float:left;width:25%;z-index:1;position:relative;}
.html5-image-gallery .item .overlay{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255, 255, 255, 0.6);transition:all 0.5s;}
.html5-image-gallery .item:hover .overlay{opacity:1;}
.html5-image-gallery .item img{width:100%;}
.navigate-page{text-align:right;list-style:none;padding:0;margin:65px 0 35px 0;}
.navigate-page li{display:inline-block;background:#e6e6e6;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;width:30px;height:30px;transition:all 0.3s;margin-bottom:5px;}
.navigate-page li a{display:block;color:#686f7c;font-weight:500;text-align:center;line-height:30px;font-size:14px;}
.navigate-page li:first-child,.navigate-page li:last-child{width:100px;}
.navigate-page li:hover a,.navigate-page li.active a{color:#fff;}

.right-sidebar{}
.right-sidebar p{color:#818896;}
.widget-popular-article .popular-article{margin-bottom:20px;}
.widget-popular-article .popular-article .thumb{float:left;margin-right:15px;}
.widget-popular-article .popular-article .thumb img{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;margin-bottom:18px;}
.widget-popular-article .popular-article .article-link a{font-weight:500;font-size:16px;color:#273239;line-height:27px;}
.widget-popular-article .popular-article .article-link a:hover{color:#3367d6;}
.article-link{margin-bottom:5px;}
.widget-readers-job-board .btn{margin-top:30px;}
.widget-photo-gallery .photo-gallery .item{float:left;margin-right:5px;margin-bottom:5px;width:31%;}
.widget-photo-gallery .photo-gallery .item img{width:100%;height:auto;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.widget-subscribe .subscriber-box{padding:0;width:100%;margin:15px 0 25px 0;}
.widget-subscribe .subscriber-box .input-group{width:inherit;}
.widget-subscribe .subscriber-box .input-group .input-group-btn{width:1px;}
.widget-subscribe .social-icons ul li .fa:before{}
.widget-ads h5{color:#bbbbbb;}
.widget-ads figure{margin-bottom:30px;}
.widget-ads figure figcaption{margin-top:10px;}
.widget-ads figure figcaption a{color:#53b3e4;font-size:14px;font-weight:500;}
.footer{margin-top:-80px;padding-top:43px;}
.footer.light{}
.footer.light h5{color:#6e6e6e;}
.footer.light p.copyright{color:#666b74;}
.footer.light .footer-widgets p{color:#666b74;}
.footer.light .footer-widgets li{color:#666b74;}
.footer .widget_recent_comments ul li a ,.footer .widget_categories ul li a,.footer .widget_recent_entries ul li a ,.footer .widget_archive ul li a,.footer .widget_nav_menu ul li a ,.footer .widget_pages ul li a ,.footer .widget_meta ul li a{color:#6d7c88;}
.footer.light .widget-tweets .tweet li p.date{color:#a6a6a6;}
.footer.bluish-dark{background:#252b30;}
.footer.bluish-dark h5{color:#aeb7bf;}
.footer.bluish-dark p.copyright{color:#4d555c;}
.footer.bluish-dark p.copyright a:hover{color:#fff;}
.footer.bluish-dark .footer-widgets p{color:#6d7c88;}
.footer.bluish-dark .widget-category ul li a{color:#6d7c88;}
.footer.bluish-dark .widget-tweets .tweet li p.date{color:#6d7c88;}
.footer hr.fullwd{margin:80px 0 20px 0;}
.footer hr.fullwid{margin:50px 0 2px 0;}
.footer p.copyright{text-align:center;margin-bottom:3px;font-size:14px;}
.footer .footer-widgets h5{padding-top:12px;}
.footer .footer-widgets p{line-height:1.8em;}
.footer .widget_text{color:#6d7c88;font-weight:400;line-height:1.8em;}
.footer .widget_text .logo img{float:left;width:50px;height:auto;margin-right:10px;}
.footer .widget_text .logo h5{text-transform:none;font-size:26px;font-weight:700;color:#787878;}
.widget-category ul{list-style:none;padding:0;margin:0;}
.widget-category ul li{line-height:1.8em;}
.widget-category ul li a{color:#818896;}
.widget-category ul li:hover a{color:#787878;}
.widget-tweets .tweet{color:#a6a6a6;}
.widget-tweets .tweet li{margin-bottom:15px;position:relative;}
.widget-tweets .tweet li:before{position:absolute;top:0;left:0;content:"\e004";color:#3498db;background:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;font-size:35px;line-height:30px;margin-top:10px;font-family:Flaticon;}
.widget-tweets .tweet li p{margin-left:50px;margin-bottom:0;}
.widget-tweets .tweet li p a{color:#3498db;}
.widget-tweets .tweet li p.date{color:#a6a6a6;}
.navbar-default .navbar-nav>.active>a,.header .navbar .main-navigation > ul > li a:hover{background:none;}
.meta-info li a{text-transform:capitalize;}
.post-body{color:#2e3137;font-weight:400;line-height:1.7em;font-size:18px;}
.searchform label,.searchform input[type='submit']{display:none;}
.searchform{position:relative;}
.searchform input[type='text']{width:96%;border:1px solid #e6e6e6;padding-left:15px;font-weight:500;font-size:16px;height:40px;}
.searchform:before{content:"\e002";font-family:"Flaticon", sans-serif;font-size:35px;position:absolute;top:-5px;right:14px;color:#888888;z-index:9999;}
.widget_recent_comments li,.widget.widget_categories li,.widget.widget_recent_entries li,.widget.widget_archive li,.widget.widget_nav_menu li,.widget.widget_pages li,.widget.widget_meta li{margin:0 0 10px;}
.widget-photo-gallery .photo-gallery .item img{transition:all 0.5s;}
.widget-photo-gallery .photo-gallery .item:hover img{}
#mc_signup_submit{margin-top:0 !important;width:100% !important;text-transform:capitalize;}
.mc_merge_var{width:100%;margin:15px 0 25px 0;margin-bottom:21px !important;font-size:15px;}
.mc_form_inside{position:relative;}
.mc_signup_submit{width:45px !important;position:absolute;right:0;bottom:0;z-index:2;font-size:15px;}
.widget_mailchimpsf_widget+ hr{display:none;}
.widget_mailchimpsf_widget h4{font-size:20px;text-transform:uppercase;margin-top:0;margin-bottom:20px;color:#6e6e6e;font-weight:600;}
.mc_var_label{display:none !important;}
#mc_subheader{margin-bottom:10px;font-weight:400;line-height:1.7em;font-size:16px;color:#818896;}
.social-icons .fa{font-size:15px !important;line-height:30px;width:30px;background:#a9a9a9;color:#fff;display:inline-block;vertical-align:bottom;text-align:center;border-radius:50px;margin-bottom:5px;}
.right-sidebar .social-icons .fa{margin-right:5px;}
.widget-subscribe hr.small{margin-top:37px;}
.right-sidebar>div:last-child hr{display:none;}
.right-sidebar>div:last-child{padding-bottom:115px;}
.right-sidebar-ok>div:last-child{padding-bottom:83px !important;}
.left-sidebar .left-navigation > ul > li > div{padding:3px;padding-left:32px;}
.left-sidebar .left-navigation > ul > li ul li{margin-bottom:0;}
ul.children> li> a{padding-left:52px !important;}
ul.children ul.children > li> a{padding-left:80px !important;}
.left-sidebar .left-navigation > ul .widget_text{border:none;}
.left-sidebar .left-navigation > ul .widget_text h4:hover{background:transparent !important;color:#4d4d4d;}
.left-sidebar .left-navigation > ul .widget_text .textwidget{line-height:1.8em;color:#818896;font-size:16px;}
.left-sidebar .left-navigation > ul .widget_text hr{margin:26px 0;}
.admin-bar .navbar-fixed-top{top:32px;}
.post-tags a{color:#747b8a;}
.comments-area img{max-width:100%;height:auto;}
.comments-area .comments .children{margin-left:14.67%;}
.loading-ajax-post.blog .footer{display:none;}
.btn-read-more{display:block;color:#fff !important;}
.loading-ajax-post .navigate-page{padding-top:30px;clear:both;}
img{max-width:100%;height:auto;}
.blog-style-two .navigate-page{clear:both;padding-top:30px;margin-bottom:72px;}
.style-blog-grid.blog .footer{margin-top:0;padding-top:65px;}
.loading-ajax-post.style-blog-grid.blog .footer{padding-top:35px;}
.style-blog-grid.blog .right-sidebar>div:last-child{padding-bottom:35px;}
.post-body{word-wrap:break-word;overflow:hidden;}
.post-body *{max-width:100%;}
.blog-style-two .row{clear:both;}
.html5-image-gallery .item p{display:none;}
.video-player+br{display:none;}
.loading-ajax-post.style-blog-grid.blog .blog-item .meta-info img.thumb{display:none;}
.sticky_label{color:#fff;font-size:23px;padding:0px 10px;vertical-align:middle;border-radius:3px;position:relative;top:-2px;display:inline-block;line-height:40px;}
.sticky_label .fa{font-size:17px;padding-left:6px;}
.style-blog-grid .sticky_label{font-size:18px;}
.style-blog-grid .sticky_label .fa{font-size:14px;}
.post-body h1, .post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6,.comments h1, .comments h2,.comments h3,.comments h4,.comments h5,.comments h6{margin-top:10px;margin-bottom:10px;line-height:1em;}
.post-body h1,.comments h1{font-size:36px;font-weight:600;}
.post-body h2,.comments h2{font-size:33px;margin-top:20px;}
.post-body h3,.comments h3{font-size:26px;font-weight:600;}
.post-body h4,.comments h4{font-weight:600;font-size:25px;}
.post-body h5,.comments h5{font-size:23px;color:#4d4d4d;text-transform:none;}
.post-body h6,.comments h6{font-size:22px;font-weight:600;}
.post-body h1+h2,.comments h1+h2{margin-top:10px;}
.blog-style-one .blog-item blockquote,.comments blockquote{padding:10px 36px;}
.post-body th,.post-body td{text-align:left;padding-right:10px;line-height:1.8;}
.post-body th,.comments th{background-color:#fcfcfc;}
.post-body td,.post-body th,.comments td,.comments th{padding:9px 15px;border:1px solid #e9e9e9;}
cite{font-style:italic;font-weight:bold;}
.post-body ul,.comments ul li ul{list-style-type:disc;}
.post-body ul, .comments ul li ul,.comments ol{padding-left:20px;}
.post-body ol,.comment-wrap ol{padding-left:23px;}
dd{line-height:1.5em;margin-bottom:10px;}
address{margin-bottom:20px;font-style:normal;line-height:1.42857143;}
legend, mark, pre, .form-allowed-tags code{font-size:14px;background-color:rgba(139,139,139,0.1);background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(.5,rgba(255,255,255,.5)),color-stop(.5,transparent),to(transparent));background-image:-webkit-linear-gradient(rgba(255,255,255,.5) 50%,transparent 50%,transparent);background-image:-moz-linear-gradient(rgba(255,255,255,.5) 50%,transparent 50%,transparent);background-image:-o-linear-gradient(rgba(255,255,255,.5) 50%,transparent 50%,transparent);background-image:linear-gradient(rgba(255,255,255,.5) 50%,transparent 50%,transparent);background-size:24px 3.4em;padding:1.7em 8px;line-height:1.7em;margin-bottom:20px;}
.wp-caption{text-align:center;font-style:italic;}
.wp-caption-text{padding-top:4px;}
.sticky{}
.gallery-caption{}
.bypostauthor{}
.alignleft{display:inline;float:left;}
.alignright{display:inline;float:right;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft{padding-right:10px;box-sizing:content-box;}
img.alignright{padding-left:10px;box-sizing:content-box;}
.navigate-page .page-links-title ~span,.post-body .navigate-page a{color:#fff;font-weight:500;text-align:center;line-height:30px;font-size:14px;display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;width:30px;height:30px;transition:all 0.3s;margin-bottom:5px;}
.post-body .navigate-page a{background:#e6e6e6;color:#686f7c;}
.post-body .navigate-page{margin:0;}
.blog-style-two .post-body .navigate-page{padding-top:10px;}
.blog.style-blog-grid.style-sidebar-both_s [name="post_password"]{max-width:150px;}
.blog.style-blog-grid .html5-image-gallery .item{width:50%;}
.blog-item h2.title{word-wrap:break-word;}
.style-blog-grid .sticky_label{line-height:34px;}
.title_archive{padding-bottom:22px;padding-top:3px;}
.error404 .blog-style-one .blog-item h2.title{padding-bottom:20px;}
.box-404{text-align:center;}
.box-404 h1{padding-bottom:30px;}
h5.bigger{font-size:125px;padding-bottom:39px;padding-top:33px;}
.error404 .social-share{margin-bottom:40px;}
.widget_calendar table{width:100%;}
.widget_calendar table caption{margin-bottom:20px;text-align:right;font-size:14px;color:#404040;}
.widget_calendar tbody td{text-align:center;border:1px solid #B0B0B0;position:relative;}
.widget_calendar tbody td:before{}
.widget_calendar tbody td:hover{background-color:#d8d8d8;}
.widget_calendar tbody td,.widget_calendar table th,.widget_calendar tfoot td{padding:8px 0;text-align:center;}
.widget_calendar thead,.widget_calendar tfoot{border:1px solid #ccc;}
.widget_calendar tfoot td{padding-left:10px;font-size:13px;color:#404040;font-weight:400;text-align:left;}
.widget_calendar table th{background-color:#fff;font-weight:400;color:#000;font-size:14px;}
td:first-child{padding-right:5px;}
.widget_calendar tbody td{color:#616161;font-size:14px;}
.widget_calendar tbody td#today{background-color:#d8d8d8;color:#fff;}
a.rsswidget img{display:none;}
span.comment-author-link{text-transform:capitalize;}
.widget li a.rsswidget:before{content:"\f143";font-family:FontAwesome;font-size:15px;padding-right:5px;}
span.rss-date{font-size:15px;display:block;line-height:2;color:#888;}
.widget li cite{font-style:normal;color:#666666;font-weight:600;}
.widget img{height:auto;}
.widget select{width:100%;padding:6px 12px;background-color:#ffffff;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;height:42px;border-radius:0;-webkit-border-radius:0;box-shadow:none;font-weight:400;color:#000;outline:0;border-color:#B0B0B0;}
.right-sidebar .children,.right-sidebar .sub-menu{margin-left:23px;padding-top:8px;}
.right-sidebar ul.children> li> a,.right-sidebar ul.children ul.children > li> a{padding-left:0 !important;}
.right-sidebar h5 a.rsswidget{color:#6e6e6e;}
.footer a.rsswidget{color:#3498db;}
.rssSummary{line-height:1.7;padding-bottom:5px;}
.footer.bluish-dark li.recentcomments,.footer.bluish-dark .rssSummary{color:#6d7c88;}
.footer.bluish-dark .widget_calendar table caption{color:#6d7c88;}
.widget_rss ul li{padding-bottom:20px;}
.widget_rss ul li:last-child{padding-bottom:0;}
.right-sidebar .tagcloud a{font-size:14px !important;padding:5px 9px;margin-bottom:3px;display:inline-block;border-radius:3px;background:#e6e6e6;color:#686f7c;margin-right:0px;}
.post-body p:last-child{margin-bottom:0;}
.left-navigation .widget_categories li,.left-navigation .widget_archive li{font-size:0;line-height:0;}
.left-navigation .widget_categories li a,.left-navigation .widget_archive li a{font-size:16px;line-height:1.5em;}
.left-navigation .widget select{margin-left:14px;}
.left-navigation .widget_calendar,.left-navigation .widget_recent_comments{border-left:0;}
.left-navigation .widget_calendar tbody td,.left-navigation .widget_calendar table th, .left-navigation .widget_calendar tfoot td{padding:2px 0;}
.left-navigation span.comment-author-link{}
.left-sidebar .left-navigation .widget_recent_comments li a{padding:5px 0;display:inline !important;color:#6e6e6e;padding-left:0;}
.left-sidebar .left-navigation .widget_recent_comments li a:hover{background:transparent !important;color:#333;!important;}
.left-sidebar li.recentcomments{padding-left:31px;padding-bottom:8px;}
.left-sidebar span.rss-date,.left-sidebar .widget li cite{padding-left:32px;}
.left-sidebar .rssSummary{padding-left:32px;font-size:15px;}
.left-sidebar .searchform:before{top:8px;}
.left-sidebar .searchform{position:relative;margin-left:21px;margin-right:-14px;}
.left-navigation .widget form select{margin-left:0;}
.left-navigation .tagcloud a{background:#e6e6e6;color:#686f7c;display:inline-block !important;font-size:14px !important;margin-bottom:5px;padding:1px 8px;}
.left-sidebar .widget_nav_menu >div{padding-left:0 !important}
.left-sidebar ul.sub-menu{border-left:8px solid transparent;}
.left-sidebar .widget_calendar>div{margin-right:-16px;margin-left:-15px;}
.footer .widget_calendar table{background-color:rgb(239, 239, 239);}
.col-footer>div{margin-bottom:15px;}
.footer ul.children> li> a,.footer ul.children ul.children > li> a{padding-left:0 !important;}
.footer ul.children,.footer ul .sub-menu{margin-left:20px;padding-top:8px;}
.footer ul .sub-menu{margin-left:16px;}
.footer .tagcloud a{font-size:16px !important;color:#666b74;padding-bottom:5px;display:inline-block;}
.footer .tagcloud a:after{content:', ';}
.footer.light h5 a{color:#6e6e6e;}
.location{border-top:1px solid rgb(219, 219, 219);border-bottom:1px solid rgb(219, 219, 219);margin-top:20px;}
.left-sidebar-fixed{position:fixed;}
a.btn.btn-prime.btn-read-more.btn-small{display:inline-block;}
a.btn.btn-prime.btn-read-more2.btn-small{padding:8px 19px;font-size:18px;width:auto;display:inline-block;margin-top:20px;}
/* Featured posts Slider/********* Slider **********/.slider-area .carousel-item{padding:0;}
.slider-area .carousel-item .item{position:relative;}
.slider-area .carousel-item .item img{max-width:100%;}
.slider-area .carousel-item .item .content{position:absolute;z-index:1;background-color:rgba(125, 197, 97, 0.902);top:50%;transform:translateY(-50%);margin:0px 23px 0px 23px;transition:all 0.5s ease;}
.slider-area .carousel-item .item .content .content-head{padding:10px 20px 10px 20px;}
.slider-area .carousel-item .item .content .content-head a{font:600 25px/40px 'Rajdhani', sans-serif;color:#FFF;outline:none;}
.slider-area .carousel-item .item .content:hover,.slider-area .carousel-item .item .content:focus{background-color:rgba(244, 183, 86, 0.902);}
/********* End Slider **********//********* Header **********/.header{margin-bottom:25px !important;background:#FFFFFF;border-top:2px solid #3367d6;}
.header .navbar{padding: 2px 0;border:none;background:inherit;transition:all 0.3s;min-height:0;background-color:#fafafb;transition:box-shadow cubic-bezier(.165, .84, .44, 1) .25s;box-shadow:0 1px 0 rgba(12,13,14,0.15);}
.header .navbar .navbar-brand{padding-top:1px;padding-bottom:4px;padding: 0px 15px;transition:all 0.3s;margin:0;display: inline-block;width:auto;height:auto;vertical-align: top;}
.header .navbar .navbar-brand h1{font-size:26px;font-weight:500;margin-top:10px;}
.header .navbar .main-navigation{transition:all 0.3s;}
.header .navbar .main-navigation > ul{padding-top:30px;}
.header .navbar .main-navigation > ul > li a{padding:10px 15px;font-weight:600;color:#a6a6a6;}
.header .navbar .main-navigation > ul > li > .dropdown-menu li a{font-size:14px;transition:none;}
.header .navbar .main-navigation > ul > li > .dropdown-menu li a:hover{color:#fff;}
.header .navbar .main-navigation .navbar-nav .open > a{background:none;}
.header .navbar.sticky{border-bottom:4px solid rgba(0, 0, 0, 0.1);opacity:0.96;}
.blog-style-one hr{border-top:5px solid #3367d6;margin:41px 0px 41px -18px;width:115%;}
hr.small{margin:40px 0;}
hr.fullwd{margin:30px 0;border-color:rgba(0, 0, 0, 0.15);}
.search-box{margin-top:8px;transition:all 0.3s;margin-bottom:0;}
.search-box .input-group{position:relative;width:100%;left:0;}
.search-box .input-group:before{content:"\e002";font-family:"Flaticon", sans-serif;font-size:31px;position:absolute;top:0px;left:4px;color:lighten;z-index:9999;}
.search-box .input-group .form-control{padding-left:50px;height:43px;display:block;transition:all 0.3s;background:none;border-radius:3px;border:1px solid #e6e6e6;background:#f3f6f8;}
.search-box .input-group .form-control:focus{background:#fff;}
.input-group .form-control{font-weight:500;font-size:16px;border:0;height:40px;-webkit-box-shadow:inset 0 0 0 0;-moz-box-shadow:inset 0 0 0 0;-ms-box-shadow:inset 0 0 0 0;-o-box-shadow:inset 0 0 0 0;box-shadow:inset 0 0 0 0;}
.input-group .form-control::-webkit-input-placeholder{color:#a6a6a6;font-weight:400;font-size:14px;}
.input-group .form-control:-moz-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group .form-control::-moz-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group .form-control:-ms-input-placeholder{font-weight:400;font-size:14px;color:#a6a6a6;}
.input-group .input-group-btn .btn-prime{border:0;font-weight:600;height:40px;transition:all 0.3s;}
.input-group .input-group-btn .btn-prime:hover{border:0;}
.crayon-syntax .crayon-pre, .crayon-syntax pre{padding: 10px 7px;}
.footer ul {text-align: center;}
.footer li {display: inline-block;}
 @media (max-width:1920px){.blog-style-one hr{width:110%;}
}
@media (max-width:1366px){.blog-style-one hr{width:105%;}
}
@media (max-width:980px){.blog-style-one hr{width:110%;margin-left:-20px;}
}
@media (max-width:800px){.blog-style-one hr{width:108%;}
}
@media (max-width:800px){.blog-style-one hr{width:108%;}
}
@media (max-width:360px){.blog-style-one hr{width:114%;}
.header .navbar img{height: 50px;}
.head-left{padding:0;}
.header .navbar .inner-logo{padding-left: 33px;}
.header .navbar .navbar-brand{padding: 0px 10px;}
}
@media (max-width:320px){.blog-style-one hr{width:116%;}
}
.job-posts-section{background:#FFFFFF;border-radius:5px;}
article.jobpost.type-jobpost{margin-top:60px;}
.job-date-pos{font-weight:600;color:#273239;}
h1.job-title{font-size:48px;font-weight:600;color:#273239;padding-bottom:18px;padding-top:10px;}
.img-company-name{margin-bottom:40px;}
img.company-img{border-radius:50%;}
span.company-name{font-weight:600;font-size:18px;color:#273239;padding-left:15px;}
.after-job-post{width:104%;margin-bottom:-5px;margin-left:-16px;}
.job-right a.btn.btn-fullwd.btn-prime{margin-top:38px;}
#main-home-box .stag-column{text-align:center;}
#main-home-box a.stag-icon-link{display:block;text-align:center;margin-bottom:2em;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{padding:0;}
ul#footer-menu{text-align:center;}
ul#footer-menu li{display:inline-block;margin:0 10px;}
.box-type-one{border:1px solid #e4e6e8;padding:1px;margin-bottom:15px;background:#fff;}
.box-type-one h2{background:#3367d6;color:#fff;text-align:center;font-size:18px;padding:7px 0;}
.box-type-one ul{padding:5px 10px;}
.box-type-one ul li{border-top:1px solid #eff0f1;margin-bottom:5px;padding-top:5px;line-height:normal;font-size:14px;}
.box-type-one ul li a{color:#858C93;}
.box-type-one ul li a:hover{color:#3367d6;}
.box-type-one ul li:first-child{border:none;}
.gsc-control-cse{padding:2px 0 0 0 !important;}
form.gsc-search-box{margin-bottom: 0;}
.gsc-adBlock {display: none !important;}
.gsc-search-box-tools .gsc-search-box .gsc-input .gsc-input-box{padding:.3em 0em 0.5em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.gsc-search-box-tools .gsc-search-box .gsc-input{padding-right:0px !important;}
.gsc-search-button-v2{padding:14px 25px 15px !important;margin-left: -3px !important;background: #2e56a6 !important;border-color: #2e56a6 !important;}
@media only screen and (max-width:992px){.header .navbar .navbar-brand{margin:0 auto;}
.gsc-search-button-v2 {padding: 12px 15px 14px !important;}
}
@media only screen and (min-width:768px){.header .navbar{margin-bottom:40px;}
 .header .navbar .navbar-header{float:none;margin-top:0px;text-align:center;}
 .header .navbar .navbar-brand{text-align:center;}
 .header .navbar .navbar-brand h1{font-size:34px;color:#787878;margin-top:24px;line-height:0px;}
 .header .navbar .main-navigation{margin-top:10px;padding:0;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu{border:none;border-radius:5px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu:before{position:absolute;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid transparent;border-bottom:12px solid #fff;content:"";top:-22px;left:20px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li:hover .sub-menu{visibility:visible;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li{position:relative;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu .sub-menu{position:absolute;left:100%;top:0;border:none;display:block;visibility:hidden;margin-top:-1px;}
 .header .navbar .main-navigation .navbar-nav .dropdown{position:relative;}
 .header .navbar .main-navigation .navbar-nav .dropdown:hover .dropdown-menu{display:block;}
 #main-home-box{padding:0 0 0 0;}
.main-body>.row{margin-top:60px;}
}
