<h3>How to Back Up and Restore a MySQL Database</h3>
<table width="100%"><tbody><tr><td  class="article" valign="top">
<table class="article" cellspacing="0" cellpadding="0">

<tbody><tr>
<td>
<p>If you're storing&nbsp;anything in MySQL databases that you do not want to lose, it is very important to make regular backups of your data to protect it from loss. This tutorial will show you two easy ways to backup and restore the data in your MySQL database. You can also use this process to move your data to a new web server.</p>
<ul class="square">
<li><a class="related" href="#mysqldump">Back up From the Command Line (using mysqldump)</a> 
</li><li><a class="related" href="#compress">Back up your MySQL Database with Compress</a> 
</li><li><a class="related" href="#restore">Restoring your MySQL Database</a> 
</li><li><a class="related" href="#phpmyadmin">Backing Up and Restoring using PHPMyAdmin</a> </li></ul>
<p class="articleheader"><a name="mysqldump"></a>Back up From the Command Line (using mysqldump)</p>
<p>If you have shell or telnet access to your web server, you can backup your MySQL data by using the mysqldump command. This&nbsp;command connects to the MySQL server and creates an SQL dump file. The dump file contains the SQL statements necessary to re-create the database. Here is the proper syntax: </p>
<div class="plaincode">$ mysqldump --opt -u [uname] -p[pass] [dbname] &gt; [backupfile.sql]</div>
<ul class="square">
<li><span class="smallfont"><b>[uname]</b></span> Your database username 
</li><li><span class="smallfont"><b>[pass]</b></span> The password for your database (note there is no space between -p and the password) 
</li><li><span class="smallfont"><b>[dbname]</b></span> The name of your database 
</li><li><span class="smallfont"><b>[backupfile.sql]</b></span> The filename for your database backup 
</li><li><span class="smallfont"><b>[--opt]</b></span> The mysqldump option </li></ul>
<p>For example, to backup a database named 'Tutorials' with the username 'root' and&nbsp;with no password&nbsp;to a file tut_backup.sql, you should accomplish this command:</p>
<div class="plaincode">$ mysqldump&nbsp;-u root -p Tutorials &gt; tut_backup.sql</div>
<p>This command will backup the 'Tutorials' database into a file called tut_backup.sql which will contain all the SQL statements needed to re-create the database. </p>
<p>With mysqldump command you can specify certain tables of your database you want to backup. For example, to back up only&nbsp;php_tutorials and&nbsp;asp_tutorials tables from the 'Tutorials' database accomplish the command below.&nbsp;Each table name has to be separated by space.</p>
<div class="plaincode">$ mysqldump&nbsp;-u root -p Tutorials php_tutorials asp_tutorials &gt; tut_backup.sql</div>
<p>Sometimes it is necessary to back up more that one database at once. In this case you can use the --database option followed by the list of databases you would like to backup. Each database name has to be separated by space.</p>
<div class="plaincode">$ mysqldump -u root -p --databases&nbsp;Tutorials&nbsp;Articles Comments &gt; content_backup.sql </div>
<p>If you want to&nbsp;back up all the databases in the server at&nbsp;one time&nbsp;you should use the --all-databases option. It tells MySQL to dump all the databases it has in storage.</p>
<div class="plaincode">$ mysqldump -u root -p --all-databases &gt; alldb_backup.sql </div>
<p>The mysqldump&nbsp;command has also some&nbsp;other useful options:</p>
<p><span class="smallfont"><b>--add-drop-table:</b></span> Tells MySQL to add a DROP TABLE statement before each CREATE TABLE in the dump.</p>
<p><span class="smallfont"><b>--no-data:</b></span> Dumps only the database structure, not the contents. </p>
<p><span class="smallfont"><b>--add-locks:</b></span> Adds the LOCK TABLES and UNLOCK TABLES statements you can see in the dump file.</p>
<p>The mysqldump command has advantages and disadvantages. The advantages of using mysqldump are that it is simple to use and it takes care of table locking issues for you. The disadvantage is that the command locks tables. If the size of your tables is very big&nbsp;mysqldump&nbsp;can lock out users for a long period of time.</p>
<p class="articleheader"><a name="compress"></a>Back up your MySQL Database with Compress</p>
<p>If your mysql database is very big, you might want to compress the output of mysqldump. Just use the mysql backup command below and pipe the output to gzip, then you will get the output as gzip file.</p>
<div class="plaincode">$ mysqldump -u [uname]&nbsp;-p[pass] [dbname] | gzip -9 &gt; [backupfile.sql.gz]</div>
<div class="plaincode">$ mysqldump -u [uname]&nbsp;-p[pass] [dbname] | gzip &gt; [backupfile.sql.gz]</div>
<div class="plaincode">$ mysqldump -u [uname]&nbsp;-p[pass] [dbname] | bzip2 &gt; [backupfile.sql.bz2]</div>
<p>If you want to extract the .gz file, use the command below:</p>
<div class="plaincode">$ gunzip [backupfile.sql.gz]</div>


<p><strong>Backup more than one database</strong></p>

<p>You can backup more than one database at the same time.</p>

<div class="plaincode">mysqldump -u [user] -p -databases [database_name_1] [database_name_2] [database_name_n] &gt; [filename].sql
</div>

<p>You can use the same options as with the single database to compress the mysqldump command output.</p>

<p><strong>Backup of all databases</strong></p>

<div class="plaincode">mysqldump -u [user] -p -all-databases &gt; [file_name].sql
</div>

<p>This will dump all databases to a single file, and you can use that file to restore all databases at once. This is very useful to move your databases from one server to another.</p>



<p class="articleheader"><a name="restore"></a>Restoring your MySQL Database</p>
<p>Above we backup the Tutorials database into tut_backup.sql file.&nbsp;To re-create the Tutorials database you should follow two steps:</p>
<ul class="square">
<li>Create an appropriately named database on the target machine 
</li><li>Load the file using the mysql command:</li></ul>
<div class="plaincode">$ mysql -u [uname] -p[pass] [db_to_restore] &lt; [backupfile.sql]</div>
<p>Have a look how you can restore your tut_backup.sql file to the Tutorials database.</p>
<div class="plaincode">$ mysql -u&nbsp;root -p Tutorials &lt; tut_backup.sql</div>
<p>To restore compressed backup files you can do the following:</p>
<div class="plaincode">gunzip &lt; [backupfile.sql.gz] | mysql -u&nbsp;[uname] -p[pass] [dbname]</div>
<p>If you need to restore a database that already exists, you'll need to use mysqlimport command. The syntax for mysqlimport is as follows:</p>
<div class="plaincode">mysqlimport -u [uname] -p[pass] [dbname] [backupfile.sql]</div>
<p class="articleheader"><a name="phpmyadmin"></a>Backing Up and Restoring using PHPMyAdmin</p>
<p>It is assumed that you have <a href="http://www.phpmyadmin.net/">phpMyAdmin</a> installed since a lot of web service providers use it. To backup your MySQL database using PHPMyAdmin just follow a couple of steps:</p>
<ul class="square">
<li>Open phpMyAdmin. 
</li><li>Select your database by clicking the database name in the list on the left of the screen. 
</li><li>Click the Export link. This should bring up a new screen that says View dump of database (or something similar). 
</li><li>In the Export area, click the Select All link to choose all of the tables in your database. 
</li><li>In the SQL options area, click the right options. 
</li><li>Click on the Save as file option and the corresponding compression option and then click the 'Go' button. A dialog box should appear prompting you to save the file locally.</li></ul>
<p>Restoring your database is&nbsp;easy as well as backing it up. Make the following:</p>
<ul class="square">
<li>Open phpMyAdmin. 
</li><li>Create an appropriately named database and select&nbsp;it by clicking the database name in the list on the left of the screen. If you would like to rewrite the backup over an existing database then click on the database name,&nbsp;select all the check boxes next to the table names and select Drop to delete all existing tables in the database. 
</li><li>Click the SQL link. This should bring up a new screen where you can either type in SQL commands, or upload your SQL file. 
</li><li>Use the browse button to find the database file. 
</li><li>Click Go button. This will upload the backup, execute the SQL commands and re-create your database.</li></ul>

<p class="articleheader"><a name="compress"></a>MySQL Backup software</p>
<p>If you are administrating multiple MySQL servers, you can consider using a commercial solution for <a href="https://www.backupbird.com/mysql-backup-software">MySQL Backup</a>. 
One solution could be Backup Bird. It is a full cloud server backup service, that monitor the progress of each backup and backup your files as well as your databases. 
</p>

</td></tr></tbody></table>
</td>
<td width="1" valign="top" style="padding-left: 50px;">

</td></tr></tbody></table>
