<h3>concatenate multiple MySQL rows into one field</h3> <a href="DB/DB001.sql">Database</a>
<pre>
SELECT SC.StudentID, GROUP_CONCAT((SELECT C.CourseName FROM courses C WHERE C.CourseID=SC.CourseID) SEPARATOR &#39;, &#39;) FROM studentcourses SC GROUP BY SC.StudentID
</pre>
<h3>MySql Login and User Creation</h3>
<p><strong>Step 1:</strong> Login to MySQL ( you will need an account )<br>
</p><pre class="x-code"><code>user@server:~$ mysql -u [user] -p
Enter password:</code></pre><p></p><div class="code-block code-block-1" style="margin: 8px 0;">
<p><strong>Step 2:</strong> Create the Database<br>
</p><pre class="x-code"><code>create database [database_name];</code></pre><p></p>
<p><strong>Step 3:</strong> Verify that it's there<br>
</p><pre class="x-code"><code>show databases;</code></pre><p></p>
<p><strong>Step 4:</strong> Create the User<br>
</p><pre class="x-code"><code>create user db_user;</code></pre><p></p>
<p><strong>Step 5:</strong> Grant privileges while assigning the password<br>
</p><pre class="x-code"><code>grant all privileges on [database_name].* to [new_user]@[hostname] identified by [new_user_password];</code></pre><br>
*Note: The <em>localhost</em> field usually doesn't have to be edited, but you can set it to the specific address.<p></p>
<p>The above example grants <em>all</em> privileges, obviously. But you will likely want to limit privileges under many circumstances. These parameters include <em>select</em>, <em>insert</em>, and <em>delete</em>.<br>
Choose all that apply and separate by comma:<br>
</p><pre class="x-code"><code>grant select, insert, delete, update on db_name.* to 'db_user'@'localhost' identified by 'db_password';</code></pre><p></p>

<h3>Create zip archive excluding specific Files & Directories </h3>
<ul>
<li>Create archive of all files under public_html directory ignoring all files and folders including text backup in there named
<pre># zip -r public_html.zip public_html -x *backup*
</pre>
</li>
<li>Create archive of all files under httpdocs directory ignoring .svn or .git files and directories.
<pre># zip -r httpdocs.zip httpdocs --exclude *.svn* --exclude *.git*
</pre>
</li>
<li>Create archive of all files under httpdocs directory ignoring all files and directories ending with with .log.
<pre># zip -r httpdocs.zip httpdocs --exclude "*.log"
</pre>
</li>

<li>Exclude .git file and node_modules directory
<pre>$ zip -r9 [target_file] [source_file] -x *.git* node_modules/\*
</pre>
</li>
<li>Exclude .git file and files in node_modules directory, but keep node_modules directory
<pre>$ zip -r9 [target_file] [source_file] -x *.git* node_modules/**\*
</pre>
</li>
</ul>