@media only screen and (min-width:768px) and (max-width:991px){.blog-style-one{padding:20px;}
 .blog-style-one .blog-item h2.title{font-size:24px;}
 .blog-style-one .blog-item .meta-info{margin:10px 0;}
 .blog-style-one .blog-item .meta-info ul li{font-size:15px;}
 .blog-style-one .blog-item p{font-size:16px;}
 .blog-style-one .blog-item img.content{margin-bottom:20px;margin-top:20px;}
 .blog-style-one .comments-area h3{text-align:center;}
 .blog-style-one .comments-area p{text-align:center;}
 .blog-style-one .comments-area .comments p{text-align:left;}
 .blog-style-one .comments-area .comments > ul li ul{margin-left:0;}
 .blog-style-one .comment-form .comment-input input[type="text"]{width:100%;}
 .navigate-page li{height:25px;width:25px;}
 .navigate-page li a{line-height:25px;font-size:12px;}
 .navigate-page li:first-child, .navigate-page li:last-child{width:50px;}
}
@media only screen and (max-width:767px){.header .navbar .navbar-brand{}
 .header .navbar .navbar-brand img{float:none;}
 .header .navbar .navbar-brand h1{font-size:24px;margin-top:15px;}
 .blog-style-one{}
 .blog-style-one .social-share .social-icons{float:none;}
 .blog-style-one .social-share .social-icons ul{float:none;}
 .blog-style-one .about-author{text-align:center;}
 .blog-style-one .comments-area .comments > ul li .thumb{margin-bottom:10px;}
 .blog-style-one .comments-area .comments > ul li .thumb img{margin-right:10px;}
 .blog-style-one .comments-area .comments > ul li p{margin-top:20px;}
 .blog-style-one .comments-area .comments > ul li p a.author{margin-right:10px;}
 .blog-style-one .comments-area .comments > ul li p span{margin-right:10px;}
 .footer{text-align:center;}
 .footer .widget-the-reader .logo img{float:none;margin:0;}
}
@media only screen and (min-width:768px){.header .navbar{margin-bottom:40px;}
 .header .navbar .navbar-header{float:none;margin-top:0px;text-align:center;}
 .header .navbar .navbar-brand{text-align:center;}
 .header .navbar .navbar-brand h1{font-size:34px;color:#787878;margin-top:24px;line-height:0px;}
 .header .navbar .main-navigation{margin-top:10px;padding:0;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu{border:none;border-radius:5px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu:before{position:absolute;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid transparent;border-bottom:12px solid #fff;content:"";top:-22px;left:20px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li:hover .sub-menu{visibility:visible;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li{position:relative;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu .sub-menu{position:absolute;left:100%;top:0;border:none;display:block;visibility:hidden;margin-top:-1px;}
 .header .navbar .main-navigation .navbar-nav .dropdown{position:relative;}
 .header .navbar .main-navigation .navbar-nav .dropdown:hover .dropdown-menu{display:block;}
}
@media only screen and (max-width:480px){.blog-style-one{padding:20px;}
 .blog-style-one .blog-item h2.title{font-size:24px;}
 .blog-style-one .blog-item .meta-info{margin:10px 0;}
 .blog-style-one .blog-item .meta-info ul li{font-size:15px;}
 .blog-style-one .blog-item p{font-size:16px;}
 .blog-style-one .blog-item img.content{margin-bottom:20px;margin-top:20px;}
 .blog-style-one .about-author{text-align:center;}
 .blog-style-one .comments-area h3{text-align:center;}
 .blog-style-one .comments-area p{text-align:center;}
 .blog-style-one .comments-area .comments p{text-align:left;}
 .blog-style-one .comments-area .comments > ul li ul{margin-left:0;}
 .blog-style-one .comment-form .comment-input input[type="text"]{width:100%;}
 .navigate-page li{height:25px;width:25px;}
 .navigate-page li a{line-height:25px;font-size:12px;}
 .navigate-page li:first-child, .navigate-page li:last-child{width:50px;}
}
@media only screen and (max-width:320px){.header .navbar .navbar-brand{}
 .header .navbar .navbar-brand img{}
 .header .navbar .navbar-brand h1{display:none;}
}
