.right-sidebar h5.sr_w_title{font-size:13px;padding:14px 22px 10px;color:#fff;background:#929BA5;border-bottom:2px solid #838B96;border-top-left-radius:3px;border-top-right-radius:3px;}
.right-sidebar >div{background:#fff;padding:15px 23px 17px;border-radius:5px;box-shadow:0px 2px 3px rgb(224, 223, 223);margin-bottom:25px;}
.widget.stag-flickr{padding:12px 21px;}
.right-sidebar >div h5.sr_w_title{margin-left:-23px;margin-right:-23px;margin-top:-15px;margin-bottom:15px;}
.right-sidebar .widget.stag-flickr h5.sr_w_title{margin-left:-21px;margin-right:-21px;margin-top:-13px;margin-bottom:13px;}
.right-sidebar >div hr.small,.right-sidebar .widget+hr{display:none;}
.widget-readers-job-board .btn{margin-top:5px;}
.widget-photo-gallery .photo-gallery .item{margin-right:0;margin-bottom:0;width:33.3333%;}
.widget-photo-gallery .photo-gallery .item img{padding-right:5px;padding-bottom:5px;}
.photo-gallery{margin-bottom:-3px;margin-right:-5px;}
.widget-popular-article .popular-article{margin-bottom:16px;}
.widget-popular-article .popular-article:last-of-type{margin-bottom:4px;}
.widget-popular-article .popular-article .thumb{float:left;margin-right:10px;}
.widget-ads figure:last-child{margin-bottom:20px;}
.widget_calendar table{margin-bottom:5px;}
.right-sidebar h5 a.rsswidget{color:#fff;}
input.mc_input.form-control{border:1px solid #e6e6e6;}
.widget_mailchimpsf_widget h5{font-size:16px;margin-bottom:15px;margin-top:10px;}
.right-sidebar .widget-tweets .tweet li:last-child{margin-bottom:10px;}
.mc_merge_var{margin-bottom:10px !important;}
.widget-popular-article .popular-article:first-of-type{padding-top:8px;}
.right-sidebar .small + .widget-subscribe{margin-top:-45px;}
.right-sidebar>div:last-child{padding-bottom:1px;}
.logo_w{background:#7dc561;}
.header .navbar .navbar-brand h1{color:#fff;}
.header{background:#fff;}
.left-sidebar .items{background:#fff;}
.navbar-brand{height:87px;}
.navbar{min-height:87px;}
.search-box{margin-bottom:16px;}
.header .navbar .main-navigation{margin-top:25px !important;}
.style-sidebar-both_s .header .navbar .main-navigation > ul > li{box-shadow:none !important;}
.navbar-brand{padding:40px 7px;}
.logo_w{width:16.66666667% !important;}
.logo_w+div{width:83.33333333%;}
.navbar-nav{float:right;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{float:none !important;padding-left:6px;}
.header .navbar{border-color:#e7e7e7;border-bottom:1px solid #e7e7e7;}
.style-sidebar-both_s .header{margin-bottom:88px;}
.left-sidebar+.col-md-14{padding-left:23px;padding-right:10px;}
#header-top .header .navbar.sticky .navbar-brand{padding:40px 7px;height:87px;padding-top:20px;padding-bottom:30px;}
.search-box .input-group .form-control{padding-left:16px;width:430px;background:#EEF2F7;}
.search-box .input-group .form-control:focus{width:430px;}
.search-box .input-group:before{left:auto;right:6px;}
.input-group .form-control{height:42px;margin-top:-3px;}
.search-box .input-group:before{top:-6px;}
.search-box .input-group .form-control:focus{background:#EEF2F7;}
.right-sidebar{padding-right:0;}
.left-sidebar+div+div{padding-right:0;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}