@media (max-width:1920px){.search-box{padding-left:40px;}
 .pad-right{margin-right:55px;float:right;}
}
@media (max-width:1370px){.search-box{padding-left:14px;}
 .pad-right{margin-right:52px;}
}
@media (max-width:1361px){.pad-right{margin-right:0px;float:left;}
}
@media only screen and (max-width:1300px){.header_white .logo_w{width:auto !important;}
.logo_w+div{width:73.333333%;}
}
@media (max-width:1280px){.pad-right{position:relative;left:-25px;}
.header .navbar .main-navigation .col-md-9.col-sm-14{margin:0;padding:0;}
}
@media only screen and (max-width:1264px){.header_white .search-box .input-group .form-control:focus,.header_white .search-box .input-group .form-control{width:260px;}
.widget-tweets{word-wrap:break-word;}
}
@media (max-width:1205px){.header .navbar .main-navigation .col-md-9.col-sm-14{width:28.5%;}
}
@media only screen and (max-width:1177px){.style-sidebar-both_s .logo_w +div.col-md-14{}
}
@media only screen and (max-width:1044px){.header_white .navbar-default .navbar-form{display:none;}
}
@media (max-width:992px){.header .navbar .main-navigation{margin-left:0px;}
 .header .navbar .main-navigation .col-md-9.col-sm-14{width:100%;}
 .header .navbar .main-navigation > ul{padding-top:30px;width:100%;text-align:center;display:block;float:none;margin:0 auto;}
 .header .navbar .main-navigation .navbar-nav li{float:none;display:inline-block;}
 .pad-right{left:0px;width:100%;display:block;}
 .search-box .input-group{left:0px;}
 .search-box{margin-top:0px;}
 .header .navbar.sticky .navbar-brand{padding:3px 15px;}
}
@media (max-width:980px){.pad-right{z-index:2;}
 .logo{float:right;margin-top:10px;}
 .search-box .input-group{text-align:center;}
 .pad-right{float:left;left:0;}
}
@media (max-width:800px){.logo{margin-top:-65px;}
 }
@media only screen and (min-width:768px){.header .navbar .main-navigation{padding:0;margin-top:0px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu{border:none;border-radius:5px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu:before{position:absolute;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid transparent;border-bottom:12px solid #fff;content:"";top:-22px;left:20px;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li{position:relative;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu li:hover .sub-menu{visibility:visible;}
 .header .navbar .main-navigation > ul > li > .dropdown-menu .sub-menu{position:absolute;left:100%;top:0;border:none;display:block;visibility:hidden;margin-top:-1px;}
 .header .navbar .main-navigation .navbar-nav .dropdown{position:relative;}
 .header .navbar .main-navigation .navbar-nav .dropdown:hover .dropdown-menu{display:block;}
 .header .navbar.sticky{min-height:60px;}
 .header .navbar.sticky .navbar-brand{padding:5px 15px;height:60px;}
 .header .navbar.sticky .main-navigation{margin-top:0px;}
 .header .navbar.sticky .search-box{margin-bottom:15px;}
}
@media (min-width:768px){}
@media only screen and (max-width:767px){.header_white .navbar-nav{float:left;}
.header_white .header .navbar .main-navigation{margin-top:0!important;}
 .header .navbar .navbar-brand{padding-top:25px;}
 .blog-style-one{}
 .blog-style-one .social-share .social-icons{float:none;}
 .blog-style-one .social-share .social-icons ul{float:none;}
 .blog-style-one .about-author{text-align:center;}
 .blog-style-one .comments-area .comments > ul li .thumb{margin-bottom:10px;}
 .blog-style-one .comments-area .comments > ul li .thumb img{margin-right:10px;}
 .blog-style-one .comments-area .comments > ul li p{margin-top:20px;}
 .blog-style-one .comments-area .comments > ul li p a.author{margin-right:10px;}
 .blog-style-one .comments-area .comments > ul li p span{margin-right:10px;}
 .footer{text-align:center;}
 .footer .widget-the-reader .logo img{float:none;margin:0;}
 .navbar.navbar-default.navbar-fixed-top .navbar-header .navbar-brand{padding-left:30px;padding-top:28px;}
 .navbar.navbar-default.navbar-fixed-top .navbar-header.brand_hider .navbar-brand{display:none;}
 .header .navbar .navbar-brand{transition:all 0s;}
}
@media (max-width:757px){.logo{position:absolute;top:65px;}
 header .navbar .navbar-brand{position:fixed;top:0;}
}
 @media only screen and (max-width:480px){.blog-style-one{padding:20px;}
 .blog-style-one .blog-item h2.title{font-size:24px;}
 .blog-style-one .blog-item .meta-info{margin:10px 0;}
 .blog-style-one .blog-item .meta-info ul li{font-size:15px;}
 .blog-style-one .blog-item p{font-size:16px;}
 .blog-style-one .blog-item img.content{margin-bottom:20px;margin-top:20px;}
 .blog-style-one .about-author{text-align:center;}
 .blog-style-one .comments-area h3{text-align:center;}
 .blog-style-one .comments-area p{text-align:center;}
 .blog-style-one .comments-area .comments p{text-align:left;}
 .blog-style-one .comments-area .comments > ul li ul{margin-left:0;}
 .blog-style-one .comment-form .comment-input input[type="text"]{width:100%;}
 .navigate-page li{height:25px;width:25px;}
 .navigate-page li a{line-height:25px;font-size:12px;}
 .navigate-page li:first-child, .navigate-page li:last-child{width:50px;}
}
@media (max-width:360px){.search-box .input-group{position:relative;left:0;}
 .navbar.navbar-default.navbar-fixed-top .navbar-header .navbar-brand{padding-left:5px;}
 .header .navbar .navbar-brand{width:80% !important;}
 .header .navbar .col-md-9.col-sm-14 .navbar-brand{margin-left:-25px;}
}
@media only screen and (min-width:768px) and (max-width:991px){.header{margin-bottom:170px;}
 .logo_w + div.col-md-14{width:auto;}
 .style-sidebar-both_s .header{margin-bottom:252px }
 .style-sidebar-both_s.header_white .header{margin-bottom:88px;}
 .logo_w{width:100% !important;}
 .blog-style-one{padding:20px;}
 .blog-style-one .blog-item h2.title{font-size:24px;}
 .blog-style-one .blog-item .meta-info{margin:10px 0;}
 .blog-style-one .blog-item .meta-info ul li{font-size:15px;}
 .blog-style-one .blog-item p{font-size:16px;}
 .blog-style-one .blog-item img.content{margin-bottom:20px;margin-top:20px;}
 .blog-style-one .comments-area h3{text-align:center;}
 .blog-style-one .comments-area p{text-align:center;}
 .blog-style-one .comments-area .comments p{text-align:left;}
 .blog-style-one .comments-area .comments > ul li ul{margin-left:0;}
 .blog-style-one .comment-form .comment-input input[type="text"]{width:100%;}
 .navigate-page li{height:25px;width:25px;}
 .navigate-page li a{line-height:25px;font-size:12px;}
 .navigate-page li:first-child, .navigate-page li:last-child{width:50px;}
}
@media only screen and (max-width:320px){.header .navbar .navbar-brand{width:85px;padding-top:28px;}
 .header .navbar .navbar-brand img{width:45px;}
}
.logo_w{width:auto;padding-right:0;}
.logo_w .navbar-brand h1{white-space:nowrap;float:left;}
@media (min-width:768px){.header .navbar-header .navbar-brand{display:none;}
}