<div class="description">
<h2>Adding divs to a foreach loop every 4 times</h2><br/>
<pre>
$count = 1;
foreach( $users_kicks as $kicks ) 
{
    if ($count%4 == 1)
    {  
         echo &quot;&lt;div&gt;&quot;;
    }
    echo $kicks-&gt;brand;
    if ($count%4 == 0)
    {
        echo &quot;&lt;/div&gt;&quot;;
    }
    $count++;
}
if ($count%4 != 1) echo &quot;&lt;/div&gt;&quot;; //This is to ensure there is no open div if the number of elements in user_kicks is not a multiple of 4
</pre>
</div>
<!-- .description -->