<h3>List all folder with permision details</h3>
<pre>ls -la</pre>
<h3>Permision</h3>
<h5>(1) Allow Apache access to the folders and the files.</h5>
<pre>
sudo chgrp -R www-data /var/www/html
sudo find /var/www/html -type d -exec chmod g+rx {} +
sudo find /var/www/html -type f -exec chmod g+r {} +
</pre>
This recursively sets the 'group' to be www-data for the folders and files. This then gives the web server permission to recurse and get access to the site document root directories structure (+x for directories only). It then also ensures the web server has read permissions for all files, so site data can be received.

There may be some cases where you have to give the web server write permission to a file, or to a directory - this can be achieved by doing sudo chmod g+w /var/www/html/PATH (where PATH is the path to the file or folder in the directory structure where you need to apply the write permissions for the web server).

NOTICE: There are a lot of cases where this may expose 'secure' information about a site configuration (such as database access credentials, etc.), and you should remove 'other' access permissions to that data on those individual files or directories with the following: sudo chmod o-rwx /var/www/html/FILEPATH (replacing FILEPATH with the path relative to the /var/www/html folder for the file).

Note also that you may have to re-run these commands in the future if 'new files' get 403 issues, in order to give correct permissions to the web server to keep being able to access files and folders that are created or copied in and aren't getting the www-data group set correctly.

<h5>(2) Give your owner read/write privileges to the folders and the files, and permit folder access to traverse the directory structure.</h5>
<pre>
sudo chown -R USER /var/www/html/
sudo find /var/www/html -type d -exec chmod u+rwx {} +
sudo find /var/www/html -type f -exec chmod u+rw {} +
</pre>
Replace USER in the first command with your own username!

We do three things here. First, we set your user to be the "Owner" of all the files and directories in /var/www/html. Next, we set read and write permissions on the folders, and permit you to access the folders to go into them (the +x item on the directory items). We then set all the files to have read/write permissions for the owner, which we just set.

<h5>(3) (Optional) Make sure every new file after this is created with www-data as the 'access' user.</h5>
<pre>
sudo find /var/www/html -type d -exec chmod g+s {} +
</pre>
This sets the "set gid" bit for the group on the directories. Files and folders created inside these directories will always have www-data as the group, permitting the web server access.

<h5>(4) (Optional) Final security cleanup, if you don't want other users to be able to see the data</h5>

We need your user to see the directories and files. We need the web-server to do so too. We may not want other system users (except root) to see the data. So lets not give them that access, and make it so only your user and the web server can see the data.
<pre>
sudo chmod -R o-rwx /var/www/html/
</pre>
NOTE: You will not have to re-run this at a later time, or edit the permissions for the 'other' category of permissions here. If the 'other' users can't get to /var/www/html/ (they don't have the necessary +x bit on /var/www/html to traverse the filestructure and directory structure, nor the +r bit to read the file lists), then the permissions on items underneath that directory for other users or groups isn't really going to matter too much.
<br/>
<h3>How To Set Up mod_rewrite for Apache</h3>
<h5>Step 1 — Installing Apache</h5>
<pre>
sudo apt-get update
sudo apt-get install apache2
</pre>
<h5>Step 2 — Enabling mod_rewrite</h5>
<pre>
sudo a2enmod rewrite
sudo service apache2 restart
</pre>
<h5>Step 3 — Setting Up .htaccess</h5>
<p>In this section, we will setup a .htaccess file for simpler rewrite rule management.

A .htaccess file allows us to modify our rewrite rules without accessing server configuration files. For this reason, .htaccess is critical to your web application's security. The period that precedes the filename ensures that the file is hidden.

We will need to set up and secure a few more settings before we can begin.

First, allow changes in the .htaccess file. Open the default Apache configuration file using nano or your favorite text editor.</p>
<pre>sudo nano /etc/apache2/sites-enabled/000-default.conf</pre>
<p>Inside that file, you will find the <VirtualHost *:80> block on line 1. Inside of that block, add the following block:</p>
<pre>
# /etc/apache2/sites-available/default
&lt;Directory /var/www/html&gt;
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all     
&lt;/Directory&gt;
</pre>
<h5>Now, create the .htaccess file.</h5>
<pre>
sudo nano /var/www/html/.htaccess
</pre>
<p>Add this first line at the top of the new file to activate the RewriteEngine.</p>
<pre>
/var/www/html/.htaccess
RewriteEngine on
</pre>
<p>Save and exit the file.

To ensure that other users may only read your .htaccess, run the following command to update permissions.</p>
<pre>
sudo chmod 644 /var/www/html/.htaccess
</pre>
<h5>Step 4 — Setting Up Files</h5>
<p>In this section, we will set up a basic URL rewrite, which converts pretty URLs into actual paths to code. Specifically, we will allow users to access example.com/about.

We will begin by creating a file named about.html.</p>
<pre>sudo nano /var/www/html/about.html</pre>
<p>Copy the following code into the HTML page.</p>
<pre>
# /var/www/html/about.html
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;About Us&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;About Us&lt;/h1&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
<p>You may access your web application at your_server_ip/about.html or example.com/about.html. Now notice that only about.html is accessible; if you try to access your_server_ip/about, you will get a Not Found error. We would like users to access about instead. Our rewrite rules will allow this very functionality.</p>

<pre>sudo nano /var/www/html/.htaccess</pre>
<p>After the first line, add the following.</p>
<pre>/var/www/html/.htaccess
RewriteRule ^about$ about.html [NC]</pre>





