<h2>INSTALL LAMP in Ubundu</h2><br/>
<pre>
sudo apt-get update
sudo apt-get install apache2
</pre>
<code>
sudo apache2ctl configtest
sudo ufw app list
sudo nano /etc/apache2/apache2.conf
</code>
<p>Inside, at the bottom of the file, add a ServerName directive, pointing to your primary domain name. If you do not have a domain name associated with your server, you can use your server's public IP address:</p>
<pre>
ServerName server_domain_or_IP
</pre>

<h2>Install MySQL</h2>
<pre>
sudo apt-get install mysql-server
</pre>

<h2>Install PHP</h2>
<pre>
sudo apt-get install php5.6;
sudo apt-get install libapache2-mod-php5.6;
sudo apt-get install php5.6-mcrypt;
sudo apt-get install php5.6-mysql;
</pre>

<code>
sudo systemctl restart apache2
</code>

<pre>
sudo apt-get install php5.6-cli;
sudo apt-get install php5.6-gd;
</pre>