<ul>
	<li><a href="https://help.ubuntu.com/lts/serverguide/httpd.html" target="_blank">Apache2</a></li>
	<li><a href="https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu-16-04#step-1-install-apache-and-allow-in-firewall" target="_blank">LAMP</a></li>
</ul>