<h3>AJAX - Send a Request To a Server</h3>
<p>The XMLHttpRequest object is used to exchange data with a server.</p>
<p>To send a request to a server, we use the open() and send() methods of the XMLHttpRequest object:</p>
<pre>
xhttp.open("GET", "ajax_info.txt", true);
xhttp.send();
</pre>
<table class="w3-table-all notranslate"> 
  <tbody><tr>
    <th style="width:30%">Method</th>
    <th>Description</th>
  </tr>  
  <tr>
    <td>open(<i>method, url, async</i>)</td>
    <td>Specifies the type of request<br><br>
	<i>method</i>: the type of request: GET or POST<br>
	<i>url</i>: the server (file) location<br>
	<i>async</i>: true (asynchronous) or false (synchronous)</td>
  </tr>
  <tr>
    <td>send()</td>
    <td>Sends the request to the server (used for GET)</td>
  </tr>
  <tr>
    <td>send(<i>string</i>)</td>
    <td>Sends the request to the server (used for POST)</td>
  </tr>
</tbody>
</table>
<h3>EXAMPLE</h3>
<h3>Start typing a name in the input field below:</h3>

<form action=""> 
First name: <input type="text" id="txt1" onkeyup="showHint(this.value)">
</form>

<p>Suggestions: <span id="txtHint"></span></p> 

<script>
function showHint(str) {
  var xhttp;
  if (str.length == 0) { 
    document.getElementById("txtHint").innerHTML = "";
    return;
  }
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("txtHint").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "files/gethint.php?q="+str, true);
  xhttp.send();   
}
</script>
<pre>
 &lt;html&gt;
&lt;head&gt;
&lt;script&gt;
function showHint(str) {
    if (str.length == 0) {
        document.getElementById(&quot;txtHint&quot;).innerHTML = &quot;&quot;;
        return;
    } else {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(&quot;txtHint&quot;).innerHTML = this.responseText;
            }
        };
        xmlhttp.open(&quot;GET&quot;, &quot;gethint.php?q=&quot; + str, true);
        xmlhttp.send();
    }
}
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;p&gt;&lt;b&gt;Start typing a name in the input field below:&lt;/b&gt;&lt;/p&gt;
&lt;form&gt;
First name: &lt;input type=&quot;text&quot; onkeyup=&quot;showHint(this.value)&quot;&gt;
&lt;/form&gt;
&lt;p&gt;Suggestions: &lt;span id=&quot;txtHint&quot;&gt;&lt;/span&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>


<h3>Ajax getHTTPObject function</h3>
<pre>
/*Usage
 * var request = getHTTPObject();
 * if(request){
 * AJAX CODE HERE
 * }
 * 
 * If getHTTPObject returns false, the browser isn't Ajax compatible. The if 
 * statement checks to see if it exists, then runs the code.
 */
function getHTTPObject() {
	var xhr = false;//set to false, so if it fails, do nothing
	if(window.XMLHttpRequest) {//detect to see if browser allows this method
		var xhr = new XMLHttpRequest();//set var the new request
	} else if(window.ActiveXObject) {//detect to see if browser allows this method
		try {
			var xhr = new ActiveXObject("Msxml2.XMLHTTP");//try this method first
		} catch(e) {//if it fails move onto the next
			try {
				var xhr = new ActiveXObject("Microsoft.XMLHTTP");//try this method next
			} catch(e) {//if that also fails return false.
				xhr = false;
			}
		}
	}
	return xhr;//return the value of xhr
}
</pre>
<pre>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById(&quot;demo&quot;).innerHTML = this.responseText;
    }
  };
  xhttp.open(&quot;GET&quot;, &quot;ajax_info.txt&quot;, true);
  xhttp.send();
}
</pre>
<pre>
// Get file
function grabFile(file) {
  var request = getHTTPObject();
  //GET
  if (request) {
    request.open('GET', file, true);
    request.send(null);
    request.onreadystatechange = function(){
      if (request.readyState != 4) return false;
      if (request.status == 200 || request.status == 304) {
        console.log(request.responseText);
      }
    };
  }
}
</pre>

<h3>File Upload in Ajax</h3>
<pre>
$(&quot;form#data&quot;).submit(function(){

    var formData = new FormData($(this)[0]);

    $.ajax({
        url: window.location.pathname,
        type: &#39;POST&#39;,
        data: formData,
        async: false,
        success: function (data) {
            alert(data)
        },
        cache: false,
        contentType: false,
        processData: false
    });

    return false;
});
</pre>
Short Version
<pre>
$(&quot;form#data&quot;).submit(function() {
    var formData = new FormData($(this)[0]);
    $.post($(this).attr(&quot;action&quot;), formData, function(data) {
        alert(data);
    });
    return false;
});
</pre>
<pre>
$.ajax({
    url: &#39;php/upload.php&#39;,
    data: $(&#39;#file&#39;).attr(&#39;files&#39;),
    cache: false,
    contentType: &#39;multipart/form-data&#39;,
    processData: false,
    type: &#39;POST&#39;,
    success: function(data){
        alert(data);
    }
});
</pre>