<table width="800"><tbody><tr><td width="640" class="article" valign="top">
<table class="article" cellspacing="1" cellpadding="1">

<tbody><tr>
<td>
<p>Any interactive web site has form input - a place where the users input different kind of information. This data is passed to ASP script, or some other technology and if the data contains an error, there will be a delay before the information travels over the Internet to the server, is examined on the server, and then returns to the user along with an error message. </p>
<p>If you run a validation of the user’s form input before the form is submitted, there will be no wait time and redundant load on the server. "Bad data" are already filtered out when input is passed to the server-based program. It also allows to simplify server-based program. </p>
<p>Client side form validation usually done with javascript. For the majority of your users, JavaScript form validation will save a lot of time up front, but double-checking the data on the server remains necessary, in case the user has turned JavaScript off. </p>
<p>Form data that typically are checked by a JavaScript could be:</p>
<ul>
<li><a class="related" href="#required">Required fields</a> 
</li><li><a class="related" href="#username">Valid user name</a> 
</li><li><a class="related" href="#password">Valid password</a> 
</li><li><a class="related" href="#email">Valid e-mail address</a> 
</li><li><a class="related" href="#phone">Valid phone number</a> </li></ul>
<p class="articleheader">validateFormOnSubmit ( )</p>
<p>This is a main function that calls a series of subfunctions, each of which checks a single form element for compliance. If the element complies than sufunction returns an empty string. Otherwise it returns a message describing the error and highlight appropriate element with yellow.</p>
<div class="jscode">
<div style="float:right;"><select class="inputselect action"><option selected="">Select Action</option><option>Select All</option><option value="form_validation">Try It</option></select></div>
function validateFormOnSubmit(theForm) {<br>var&nbsp;reason = "";<br><br>&nbsp; reason += validateUsername(theForm.username);<br>&nbsp; reason += validatePassword(theForm.pwd);<br>&nbsp; reason += validateEmail(theForm.email);<br>&nbsp;&nbsp;reason += validatePhone(theForm.phone);<br>&nbsp;&nbsp;reason += validateEmpty(theForm.from);<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp; if (reason != "") {<br>&nbsp;&nbsp;&nbsp; alert("Some fields need correction:\n" + reason);<br>&nbsp;&nbsp;&nbsp; return false;<br>&nbsp; }<br><br>&nbsp; return true;<br>}</div>
<p class="articleheader"><a name="required"></a>validateEmpty ( )</p>
<p>The function below checks if a required field has been left empty. If the required field is blank, we return the error string to the main function. If it’s not blank, the function returns an empty string.</p>
<div class="jscode">function validateEmpty(fld) {<br>&nbsp;&nbsp;&nbsp; var error = "";<br>&nbsp; <br>&nbsp;&nbsp;&nbsp; if (fld.value.length == 0) {<br>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The required field has not been filled in.\n"<br>&nbsp;&nbsp;&nbsp; } else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'White';<br>&nbsp;&nbsp;&nbsp; }<br>&nbsp;&nbsp;&nbsp; return error;&nbsp;&nbsp; <br>}</div>
<p><img height="10" src="/images/uparrow.gif" width="10" border="0"><a href="#top"><font color="#999999" size="2">Back to top</font></a></p>
<p class="articleheader"><a name="username"></a>validateUsername ( )</p>
<p>The function below checks if the user entered anything at all in the username field. If it’s not blank, we check the length of the string and permit only usernames that are between&nbsp;5 and 15 characters. Next, we use the JavaScript regular expression /\W/ to forbid illegal characters from appearing in usernames. We want to allow only letters, numbers and underscopes.</p>
<div class="jscode">function validateUsername(fld) {<br>&nbsp;&nbsp;&nbsp; var error = "";<br>&nbsp;&nbsp;&nbsp; var illegalChars = /\W/; <span class="comment">// allow letters, numbers, and underscores</span><br>&nbsp;<br>&nbsp;&nbsp;&nbsp; if (fld.value == "") {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "You didn't enter a username.\n";<br>&nbsp;&nbsp;&nbsp; } else if ((fld.value.length &lt; 5) || (fld.value.length &gt; 15)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The username is the wrong length.\n";<br>&nbsp;&nbsp;&nbsp; } else if (illegalChars.test(fld.value)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The username contains illegal characters.\n";<br>&nbsp;&nbsp;&nbsp; } else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'White';<br>&nbsp;&nbsp;&nbsp; } <br>&nbsp;&nbsp;&nbsp; return error;<br>}</div>
<p><img height="10" src="/images/uparrow.gif" width="10" border="0"><a href="#top"><font color="#999999" size="2">Back to top</font></a></p>
<p class="articleheader"><a name="password"></a>validatePassword ( )</p>
<p>The function below checks the password field for blankness and allow only letters and numbers - no underscopes this time. So we should use a new regular expression to forbid underscopes. This one /[\W_]/ allow only letters and numbers. Next, we want to permit only passwords that contain letters and at least one numeral. For that we use the seacrh() method and two more regular expressions: /(a-z)+/ and /(0-9)/.</p>
<div class="jscode">function validatePassword(fld) {<br>&nbsp;&nbsp;&nbsp; var error = "";<br>&nbsp;&nbsp; &nbsp;var illegalChars = /[\W_]/; <span class="comment">// allow only letters and numbers</span>&nbsp;<br>&nbsp;<br>&nbsp;&nbsp;&nbsp; if (fld.value == "") {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;error = "You didn't enter a password.\n";<br>&nbsp;&nbsp;&nbsp; } else if ((fld.value.length &lt; 7) || (fld.value.length &gt; 15)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The password is the wrong length. \n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } else if (illegalChars.test(fld.value)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The password contains illegal characters.\n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } else if (!((fld.value.search(/(a-z)+/)) &amp;&amp; (fld.value.search(/(0-9)+/)))) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The password must contain at least one numeral.\n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'White';<br>&nbsp;&nbsp;&nbsp; }<br>&nbsp; &nbsp;return error;<br>}&nbsp;&nbsp; </div>
<p><img height="10" src="/images/uparrow.gif" width="10" border="0"><a href="#top"><font color="#999999" size="2">Back to top</font></a></p>
<p class="articleheader"><a name="email"></a>validateEmail ( )</p>
<p>Next we want to see if the email address the user entered is real. This means that the input data must contain at least an @ sign and a dot (.). Also, the @ must not be the first character of the email address, and the last dot must at least be one character after the @ sign.&nbsp;</p>
<p>At first we check if the user entered anything at all in the email field. Next, we use regular expression&nbsp;and the test() method to check the field for a compliance. Also we will use trim() function that will trim leading whitespace off the string. This won’t be perfect validation — it is possible to slip not compliant addresses by it — but it's normally good enough.</p>
<div class="jscode"><br>function trim(s)<br>{<br>&nbsp; return s.replace(/^\s+|\s+$/, '');<br>} <br><br>function validateEmail(fld) {<br>&nbsp;&nbsp;&nbsp; var error="";<br>&nbsp;&nbsp;&nbsp; var tfld = trim(fld.value);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="comment">// value of field with whitespace trimmed off</span><br>&nbsp;&nbsp;&nbsp; var emailFilter = /^[^@]+@[^@.]+\.[^@]*\w\w$/ ;<br>&nbsp;&nbsp;&nbsp; var illegalChars= /[\(\)\&lt;\&gt;\,\;\:\\\"\[\]]/ ;<br>&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp; if (fld.value == "") {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "You didn't enter an email address.\n";<br>&nbsp;&nbsp;&nbsp; } else if (!emailFilter.test(tfld)) {&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="comment">//test email for illegal characters</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "Please enter a valid email address.\n";<br>&nbsp;&nbsp;&nbsp; } else if (fld.value.match(illegalChars)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The email address contains illegal characters.\n";<br>&nbsp;&nbsp;&nbsp; } else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'White';<br>&nbsp;&nbsp;&nbsp; }<br>&nbsp;&nbsp;&nbsp; return error;<br>}</div>
<p><img height="10" src="/images/uparrow.gif" width="10" border="0"><a href="#top"><font color="#999999" size="2">Back to top</font></a></p>
<p class="articleheader"><a name="phone"></a>validatePhone ( )</p>
<p>The function below checks if the phone number is valid. At first we use regular expression and the replace() method to clear out any spacer characters. Next, we use the isNaN() function to check if the phone number contain only numbers. At last we check the length of the string and permit only phone numbers with 10 digits.</p>
<div class="jscode">function validatePhone(fld) {<br>&nbsp;&nbsp;&nbsp; var error = "";<br>&nbsp;&nbsp;&nbsp; var stripped = fld.value.replace(/[\(\)\.\-\ ]/g, ''); &nbsp;&nbsp;&nbsp; <br><br>&nbsp;&nbsp; if (fld.value == "") {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "You didn't enter a phone number.\n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } else if (isNaN(parseInt(stripped))) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The phone number contains illegal characters.\n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } else if (!(stripped.length == 10)) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error = "The phone number is the wrong length. Make sure you included an area code.\n";<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fld.style.background = 'Yellow';<br>&nbsp;&nbsp;&nbsp; } <br>&nbsp;&nbsp;&nbsp; return error;<br>}</div>
<p class="articleheader">HTML Form</p>
<p>This script accompanies an HTML form. When the user clicks the Submit button on the form, the form data is sent to a JavaScript validation function that checks each field to make sure that it is in the appropriate format. The HTML form could look something like this:</p>
<div class="plaincode">&lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;WebCheatSheet - JavaScript Tutorial&lt;/title&gt;<br>&lt;/head&gt;<br>&lt;body&gt;<br>&lt;h1&gt;WebCheatSheet - JavaScript Tutorial&lt;/h1&gt;<br><br>&lt;form name="demo" onsubmit="return validateFormOnSubmit(this)" action="test.htm"&gt;<br>&lt;table summary="Demonstration form"&gt;<br>&nbsp; &lt;tbody&gt;<br>&nbsp;&nbsp;&lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;label for="username"&gt;Your user name:&lt;/label&gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="username" size="35" maxlength="50" type="text"&gt;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt;&nbsp;&nbsp;&nbsp;<br>&nbsp; &lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;label for="pwd"&gt;Your password&lt;/label&gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="pwd" size="35" maxlength="25" type="password"&gt;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;label for="email"&gt;Your email:&lt;/label&gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="email" size="35" maxlength="30" type="text"&gt;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt; &nbsp; <br>&nbsp; &lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;label for="phone"&gt;Your telephone number:&lt;/label&gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="phone" size="35" maxlength="25" type="text"&gt;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt;&nbsp;&nbsp;&nbsp;<br>&nbsp; &lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;label for="from"&gt;Where are you :&lt;/label&gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="from" size="35" maxlength="50" type="text"&gt;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt;&nbsp;&nbsp;&nbsp;<br>&nbsp; &lt;tr&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&amp;nbsp;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&lt;input name="Submit" value="Send" type="submit" &gt;&lt;/td&gt;<br>&nbsp;&nbsp;&nbsp; &lt;td&gt;&amp;nbsp;&lt;/td&gt;<br>&nbsp; &lt;/tr&gt; <br>&nbsp; &lt;/tbody&gt;<br>&lt;/table&gt;<br>&lt;/form&gt; <br><br><br>&lt;/body&gt;<br>&lt;/html&gt;</div>
<p><img height="10" src="/images/uparrow.gif" width="10" border="0"><a href="#top"><font color="#999999" size="2">Back to top</font></a></p></td></tr></tbody></table>
</td>
<td width="1" valign="top" style="padding-left: 50px;">

</td></tr></tbody></table>