<h3>Customize Input Box</h3>
<p>Prevent users typing special characters in text box, textarea, etc.</p>
<pre>
    $(document).on('keypress',':text,textarea', function () {
        if (this.value.match(/[^a-z0-9@,.'\-_) (]/gi)) { // now accept @ , - "
            this.value = this.value.replace(/[^a-z0-9@,.'\-_) (]/gi,'');
        }
    });
</pre>
<table class="table">
	<tr>
		<td>^[a-zA-Z]+$</td>
		<td>Alphabets</td>
	</tr>
	<tr>
		<td>^[a-zA-Z\s]+$</td>
		<td>Alphabets + Space</td>
	</tr>
</table>
<h6>Live Example</h6>
<script>
$(document).on('keypress','#text1', function () {
	if (this.value.match(/[^a-z0-9@,.'\-_) (]/gi)) {
		this.value = this.value.replace(/[^a-z0-9@,.'\-_) (]/gi,'');
	}
});
</script>
<input type="text" id="text1" placeholder="Type Special Characters Here" style="width:300px;" />

<h3>Adjust LI width fit with UL width</h3>
<pre>
&lt;nav role=&#39;navigation&#39;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Clients&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
</pre>
<pre>
* {
  box-sizing:border-box;
}
ul {
  width:700px;
  margin:10px auto;
  text-align:center;
}
li {
  list-style:none;
  float:left;
  border:1px solid red;
  padding:10px 0;
}
a {
  background:lightgrey;
  display:block;
}
</pre>
<pre>
(function( $ ){
  $.fn.autowidth = function() {
    return this.each(function() {        
        $(&#39;li&#39;, this).css({&#39;width&#39; : (100 / $(&#39;li&#39;, this).length) + &#39;%&#39;})
    });
  };
})( jQuery );

$(document).ready(function(){
    $(&#39;nav &gt; ul&#39;).autowidth();    
});

// self invoking anonymous function referencing jQuery
</pre>
<h6>Live Example</h6>
<style>
#naviga * {
  box-sizing:border-box;
}

#naviga ul {
  width:700px;
  margin:10px auto;
  text-align:center;
}

#naviga li {
  list-style:none;
  float:left;
  border:1px solid red;
  padding:10px 0;
}

#naviga a {
  background:lightgrey;
  display:block;
}
</style>
<script>
(function( $ ){
  $.fn.autowidth = function() {
    return this.each(function() {        
        $('li', this).css({'width' : (100 / $('li', this).length) + '%'})
    });
  };
})( jQuery );

$(document).ready(function(){
    $('nav#naviga > ul').autowidth();    
});

// self invoking anonymous function referencing jQuery
</script>
<nav role='naviga' id='naviga'>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
<div class="clear"></div>
<h3>JavaScript to limit form field input text to specific characters</h3>
<form name="InputLimiter">
    <p>Name Characters: <input type="text" id="NameCharacters" onkeypress="return inputLimiter(event,'NameCharacters')" value="" /></p>
    <p>Letters Only: <input type="text" id="LettersOnly" onkeypress="return inputLimiter(event,'Letters')" value="" /></p>
    <p>Numbers Only: <input type="text" id="NumbersOnly" onkeypress="return inputLimiter(event,'Numbers')" value="" /></p>
    <p>Letters, Numbers, Hyphens, and Spaces: <input type="text" id="NameCharactersAndNumbers" onkeypress="return inputLimiter(event,'NameCharactersAndNumbers')" value="" /></p>
</form>
<script type="text/javascript">
function inputLimiter(e,allow) {
    var AllowableCharacters = '';

    if (allow == 'Letters'){AllowableCharacters=' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';}
    if (allow == 'Numbers'){AllowableCharacters='1234567890';}
    if (allow == 'NameCharacters'){AllowableCharacters=' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-.\'';}
    if (allow == 'NameCharactersAndNumbers'){AllowableCharacters='1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-\'';}

    var k = document.all?parseInt(e.keyCode): parseInt(e.which);
    if (k!=13 && k!=8 && k!=0){
        if ((e.ctrlKey==false) && (e.altKey==false)) {
        return (AllowableCharacters.indexOf(String.fromCharCode(k))!=-1);
        } else {
        return true;
        }
    } else {
        return true;
    }
} 
</script>
<pre>
&lt;form name=&quot;InputLimiter&quot;&gt;
    &lt;p&gt;Name Characters: &lt;input type=&quot;text&quot; id=&quot;NameCharacters&quot; onkeypress=&quot;return inputLimiter(event,&#39;NameCharacters&#39;)&quot; value=&quot;&quot; /&gt;&lt;/p&gt;
    &lt;p&gt;Letters Only: &lt;input type=&quot;text&quot; id=&quot;LettersOnly&quot; onkeypress=&quot;return inputLimiter(event,&#39;Letters&#39;)&quot; value=&quot;&quot; /&gt;&lt;/p&gt;
    &lt;p&gt;Numbers Only: &lt;input type=&quot;text&quot; id=&quot;NumbersOnly&quot; onkeypress=&quot;return inputLimiter(event,&#39;Numbers&#39;)&quot; value=&quot;&quot; /&gt;&lt;/p&gt;
    &lt;p&gt;Letters, Numbers, Hyphens, and Spaces: &lt;input type=&quot;text&quot; id=&quot;NameCharactersAndNumbers&quot; onkeypress=&quot;return inputLimiter(event,&#39;NameCharactersAndNumbers&#39;)&quot; value=&quot;&quot; /&gt;&lt;/p&gt;
&lt;/form&gt;
</pre>
<pre>
function inputLimiter(e,allow) {
    var AllowableCharacters = &#39;&#39;;

    if (allow == &#39;Letters&#39;){AllowableCharacters=&#39; ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz&#39;;}
    if (allow == &#39;Numbers&#39;){AllowableCharacters=&#39;1234567890&#39;;}
    if (allow == &#39;NameCharacters&#39;){AllowableCharacters=&#39; ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-.\&#39;&#39;;}
    if (allow == &#39;NameCharactersAndNumbers&#39;){AllowableCharacters=&#39;1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-\&#39;&#39;;}

    var k = document.all?parseInt(e.keyCode): parseInt(e.which);
    if (k!=13 && k!=8 && k!=0){
        if ((e.ctrlKey==false) && (e.altKey==false)) {
        return (AllowableCharacters.indexOf(String.fromCharCode(k))!=-1);
        } else {
        return true;
        }
    } else {
        return true;
    }
}
</pre>

<pre>
document.onkeypress = function (event) {
    event = (event || window.event);
    if (event.keyCode == 123) {
        return false;
    }
}
document.onmousedown = function (event) {
    event = (event || window.event);
    if (event.keyCode == 123) {
        return false;
    }
}
document.onkeydown = function (event) {
    event = (event || window.event);
    if (event.keyCode == 123) {
        return false;
    }
}
</pre>
<pre>
window.addEventListener(&quot;keydown&quot;, keyListener, false);

function keyListener(e) {
	if(e.keyCode == 123) {
		e.returnValue = false;
	}
}
</pre>

<h3>Create and append Dynamic Element in Javascript</h3>
<pre>
var ins_form = document.getElementById('formid');
var task = document.createElement("input")
task.setAttribute("type", "text");
task.setAttribute("name", "task");
task.setAttribute("value", "1");
ins_form.appendChild(task);
</pre>
<h3>Append to url and refresh page</h3>
<pre>
var url = window.location.href;    
if (url.indexOf(&#39;?&#39;) &gt; -1){
   url += &#39;&param=1&#39;
}else{
   url += &#39;?param=1&#39;
}
window.location.href = url;
</pre>
<h3>How to disable the Enter key on HTML form</h3>
<pre>
&lt;script type=&quot;text/javascript&quot;&gt; 

function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13) && (node.type==&quot;text&quot;))  {return false;} 
} 

document.onkeypress = stopRKey; 

&lt;/script&gt;
</pre>
<h3>Set Focus to First Available Form Control</h3>
<pre>
function SetToFirstControl()
{
  var bFound = false;  

  //for each form
  for (f=0; f &lt; document.forms.length; f++) 
  { 
    //for each element in each form
    for(i=0; i &lt; document.forms[f].length; i++) 
    { 
      //if it&#39;s not a hidden element
      if (document.forms[f][i].type != &quot;hidden&quot;) 
      { 
        //and it&#39;s not disabled
        if (document.forms[f][i].disabled != true) 
        {
          try {
             //set the focus to it
             document.forms[f][i].focus();
             var bFound = true;
          }
          catch(er) {
          }
        }
      }
      //if found in this element, stop looking
      if (bFound == true)
        break;
    }
    //if found in this form, stop looking
    if (bFound == true)
      break;
  }
}
</pre>