<ul>
	<li><a href="http://www.create-dynamic.com/" target="_blank">Create Dynamic Code</a></li>
	<li><a href="http://www.phpletter.com/DOWNLOAD/" target="_blank">Ajax Code</a></li>
	<li><a href="http://malsup.com/jquery/form" target="_blank">jQuery Form Plugin</a></li>
	<li><a href="http://jquery.malsup.com/" target="_blank">jQuery Plugins</a></li>
	<li><a href="http://www.dynamicdrive.com/" target="_blank">Dynamic Drive</a></li>
</ul>