<h3>ALTER TABLE</h3>
<p>ALTER TABLE -- change the definition of a table</p>
<pre>
ALTER TABLE [ ONLY ] name [ * ]
    action [, ... ]
ALTER TABLE [ ONLY ] name [ * ]
    RENAME [ COLUMN ] column TO new_column
ALTER TABLE name
    RENAME TO new_name
ALTER TABLE name
    SET SCHEMA new_schema

where action is one of:

    ADD [ COLUMN ] column data_type [ COLLATE collation ] [ column_constraint [ ... ] ]
    DROP [ COLUMN ] [ IF EXISTS ] column [ RESTRICT | CASCADE ]
    ALTER [ COLUMN ] column [ SET DATA ] TYPE data_type [ COLLATE collation ] [ USING expression ]
    ALTER [ COLUMN ] column SET DEFAULT expression
    ALTER [ COLUMN ] column DROP DEFAULT
    ALTER [ COLUMN ] column { SET | DROP } NOT NULL
    ALTER [ COLUMN ] column SET STATISTICS integer
    ALTER [ COLUMN ] column SET ( attribute_option = value [, ... ] )
    ALTER [ COLUMN ] column RESET ( attribute_option [, ... ] )
    ALTER [ COLUMN ] column SET STORAGE { PLAIN | EXTERNAL | EXTENDED | MAIN }
    ADD table_constraint [ NOT VALID ]
    ADD table_constraint_using_index
    VALIDATE CONSTRAINT constraint_name
    DROP CONSTRAINT [ IF EXISTS ]  constraint_name [ RESTRICT | CASCADE ]
    DISABLE TRIGGER [ trigger_name | ALL | USER ]
    ENABLE TRIGGER [ trigger_name | ALL | USER ]
    ENABLE REPLICA TRIGGER trigger_name
    ENABLE ALWAYS TRIGGER trigger_name
    DISABLE RULE rewrite_rule_name
    ENABLE RULE rewrite_rule_name
    ENABLE REPLICA RULE rewrite_rule_name
    ENABLE ALWAYS RULE rewrite_rule_name
    CLUSTER ON index_name
    SET WITHOUT CLUSTER
    SET WITH OIDS
    SET WITHOUT OIDS
    SET ( storage_parameter = value [, ... ] )
    RESET ( storage_parameter [, ... ] )
    INHERIT parent_table
    NO INHERIT parent_table
    OF type_name
    NOT OF
    OWNER TO new_owner
    SET TABLESPACE new_tablespace

and table_constraint_using_index is:

    [ CONSTRAINT constraint_name ]
    { UNIQUE | PRIMARY KEY } USING INDEX index_name
    [ DEFERRABLE | NOT DEFERRABLE ] [ INITIALLY DEFERRED | INITIALLY IMMEDIATE ]
</pre>
<h3>SQL String Functions and Operators</h3>
<table border="1" class="CALSTABLE">
      <colgroup><col>
      <col>
      <col>
      <col>
      <col>

      </colgroup><thead>
        <tr>
          <th>Function</th>

          <th>Return Type</th>

          <th>Description</th>

          <th>Example</th>

          <th>Result</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><tt class="LITERAL"><tt class="PARAMETER">string</tt>
          <tt class="LITERAL">||</tt> <tt class="PARAMETER">string</tt></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>String concatenation</td>

          <td><tt class="LITERAL">'Post' || 'greSQL'</tt></td>

          <td><tt class="LITERAL">PostgreSQL</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><tt class="PARAMETER">string</tt>
          <tt class="LITERAL">||</tt> <tt class="PARAMETER">non-string</tt></tt> or <tt class="LITERAL"><tt class="PARAMETER">non-string</tt>
          <tt class="LITERAL">||</tt> <tt class="PARAMETER">string</tt></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>String concatenation with one non-string input</td>

          <td><tt class="LITERAL">'Value: ' || 42</tt></td>

          <td><tt class="LITERAL">Value: 42</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">bit_length(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Number of bits in string</td>

          <td><tt class="LITERAL">bit_length('jose')</tt></td>

          <td><tt class="LITERAL">32</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">char_length(<tt class="PARAMETER">string</tt>)</code></tt> or <tt class="LITERAL"><code class="FUNCTION">character_length(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Number of characters in string</td>

          <td><tt class="LITERAL">char_length('jose')</tt></td>

          <td><tt class="LITERAL">4</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">lower(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert string to lower case</td>

          <td><tt class="LITERAL">lower('TOM')</tt></td>

          <td><tt class="LITERAL">tom</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">octet_length(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Number of bytes in string</td>

          <td><tt class="LITERAL">octet_length('jose')</tt></td>

          <td><tt class="LITERAL">4</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">overlay(<tt class="PARAMETER">string</tt>
          placing <tt class="PARAMETER">string</tt> from <tt class="TYPE">int</tt> [<span class="OPTIONAL">for <tt class="TYPE">int</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Replace substring</td>

          <td><tt class="LITERAL">overlay('Txxxxas' placing 'hom'
          from 2 for 4)</tt></td>

          <td><tt class="LITERAL">Thomas</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">position(<tt class="PARAMETER">substring</tt>
          in <tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Location of specified substring</td>

          <td><tt class="LITERAL">position('om' in
          'Thomas')</tt></td>

          <td><tt class="LITERAL">3</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">substring(<tt class="PARAMETER">string</tt>
          [<span class="OPTIONAL">from <tt class="TYPE">int</tt></span>] [<span class="OPTIONAL">for
          <tt class="TYPE">int</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Extract substring</td>

          <td><tt class="LITERAL">substring('Thomas' from 2 for
          3)</tt></td>

          <td><tt class="LITERAL">hom</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">substring(<tt class="PARAMETER">string</tt>
          from <tt class="REPLACEABLE c3">pattern</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Extract substring matching POSIX regular expression.</td>

          <td><tt class="LITERAL">substring('Thomas' from
          '...$')</tt></td>

          <td><tt class="LITERAL">mas</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">substring(<tt class="PARAMETER">string</tt>
          from <tt class="REPLACEABLE c3">pattern</tt> for
          <tt class="REPLACEABLE c3">escape</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Extract substring matching <acronym class="ACRONYM">SQL</acronym> regular expression.</td>

          <td><tt class="LITERAL">substring('Thomas' from
          '%#"o_a#"_' for '#')</tt></td>

          <td><tt class="LITERAL">oma</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">trim([<span class="OPTIONAL">leading |
          trailing | both</span>] [<span class="OPTIONAL"><tt class="PARAMETER">characters</tt></span>]
          from <tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Remove the longest string containing only the
          <tt class="PARAMETER">characters</tt> (a space by
          default) from the start/end/both ends of the <tt class="PARAMETER">string</tt></td>

          <td><tt class="LITERAL">trim(both 'x' from
          'xTomxx')</tt></td>

          <td><tt class="LITERAL">Tom</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">upper(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert string to upper case</td>

          <td><tt class="LITERAL">upper('tom')</tt></td>

          <td><tt class="LITERAL">TOM</tt></td>
        </tr>
      </tbody>
    </table>
    <h3>Other String Functions</h3>
    <table border="1" class="CALSTABLE">
      <colgroup><col>
      <col>
      <col>
      <col>
      <col>

      </colgroup><thead>
        <tr>
          <th>Function</th>

          <th>Return Type</th>

          <th>Description</th>

          <th>Example</th>

          <th>Result</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">ascii(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td><acronym class="ACRONYM">ASCII</acronym> code of the
          first character of the argument. For <acronym class="ACRONYM">UTF8</acronym> returns the Unicode code point
          of the character. For other multibyte encodings, the
          argument must be an <acronym class="ACRONYM">ASCII</acronym> character.</td>

          <td><tt class="LITERAL">ascii('x')</tt></td>

          <td><tt class="LITERAL">120</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">btrim(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt> [<span class="OPTIONAL">,
          <tt class="PARAMETER">characters</tt> <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Remove the longest string consisting only of
          characters in <tt class="PARAMETER">characters</tt> (a
          space by default) from the start and end of <tt class="PARAMETER">string</tt></td>

          <td><tt class="LITERAL">btrim('xyxtrimyyx',
          'xy')</tt></td>

          <td><tt class="LITERAL">trim</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">chr(<tt class="TYPE">int</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Character with the given code. For <acronym class="ACRONYM">UTF8</acronym> the argument is treated as a
          Unicode code point. For other multibyte encodings the
          argument must designate an <acronym class="ACRONYM">ASCII</acronym> character. The NULL (0)
          character is not allowed because text data types cannot
          store such bytes.</td>

          <td><tt class="LITERAL">chr(65)</tt></td>

          <td><tt class="LITERAL">A</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">concat(<tt class="PARAMETER">str</tt>
          <tt class="TYPE">"any"</tt> [, <tt class="PARAMETER">str</tt> <tt class="TYPE">"any"</tt> [, ...]
          ])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Concatenate all arguments. NULL arguments are
          ignored.</td>

          <td><tt class="LITERAL">concat('abcde', 2, NULL,
          22)</tt></td>

          <td><tt class="LITERAL">abcde222</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">concat_ws(<tt class="PARAMETER">sep</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">str</tt> <tt class="TYPE">"any"</tt> [,
          <tt class="PARAMETER">str</tt> <tt class="TYPE">"any"</tt> [, ...] ])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Concatenate all but first arguments with separators.
          The first parameter is used as a separator. NULL
          arguments are ignored.</td>

          <td><tt class="LITERAL">concat_ws(',', 'abcde', 2, NULL,
          22)</tt></td>

          <td><tt class="LITERAL">abcde,2,22</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">convert(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">bytea</tt>, <tt class="PARAMETER">src_encoding</tt> <tt class="TYPE">name</tt>,
          <tt class="PARAMETER">dest_encoding</tt> <tt class="TYPE">name</tt>)</code></tt></td>

          <td><tt class="TYPE">bytea</tt></td>

          <td>Convert string to <tt class="PARAMETER">dest_encoding</tt>. The original encoding is
          specified by <tt class="PARAMETER">src_encoding</tt>. The
          <tt class="PARAMETER">string</tt> must be valid in this
          encoding. Conversions can be defined by <tt class="COMMAND">CREATE CONVERSION</tt>. Also there are some
          predefined conversions.</td>

          <td><tt class="LITERAL">convert('text_in_utf8', 'UTF8',
          'LATIN1')</tt></td>

          <td><tt class="LITERAL">text_in_utf8</tt> represented in
          Latin-1 encoding (ISO 8859-1)</td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">convert_from(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">bytea</tt>, <tt class="PARAMETER">src_encoding</tt> <tt class="TYPE">name</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert string to the database encoding. The original
          encoding is specified by <tt class="PARAMETER">src_encoding</tt>. The <tt class="PARAMETER">string</tt> must be valid in this
          encoding.</td>

          <td><tt class="LITERAL">convert_from('text_in_utf8',
          'UTF8')</tt></td>

          <td><tt class="LITERAL">text_in_utf8</tt> represented in
          the current database encoding</td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">convert_to(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">dest_encoding</tt> <tt class="TYPE">name</tt>)</code></tt></td>

          <td><tt class="TYPE">bytea</tt></td>

          <td>Convert string to <tt class="PARAMETER">dest_encoding</tt>.</td>

          <td><tt class="LITERAL">convert_to('some text',
          'UTF8')</tt></td>

          <td><tt class="LITERAL">some text</tt> represented in the
          UTF8 encoding</td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">decode(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">format</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">bytea</tt></td>

          <td>Decode binary data from textual representation in
          <tt class="PARAMETER">string</tt>. Options for <tt class="PARAMETER">format</tt> are same as in <code class="FUNCTION">encode</code>.</td>

          <td><tt class="LITERAL">decode('MTIzAAE=',
          'base64')</tt></td>

          <td><tt class="LITERAL">\x3132330001</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">encode(<tt class="PARAMETER">data</tt>
          <tt class="TYPE">bytea</tt>, <tt class="PARAMETER">format</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Encode binary data into a textual representation.
          Supported formats are: <tt class="LITERAL">base64</tt>,
          <tt class="LITERAL">hex</tt>, <tt class="LITERAL">escape</tt>. <tt class="LITERAL">escape</tt>
          converts zero bytes and high-bit-set bytes to octal
          sequences (<tt class="LITERAL">\</tt><tt class="REPLACEABLE c3">nnn</tt>) and doubles backslashes.</td>

          <td><tt class="LITERAL">encode(E'123\\000\\001',
          'base64')</tt></td>

          <td><tt class="LITERAL">MTIzAAE=</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">format</code>(<tt class="PARAMETER">formatstr</tt> <tt class="TYPE">text</tt> [,
          <tt class="PARAMETER">str</tt> <tt class="TYPE">"any"</tt> [, ...] ])</tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Format a string. This function is similar to the C
          function <code class="FUNCTION">sprintf</code>; but only
          the following conversion specifications are recognized:
          <tt class="LITERAL">%s</tt> interpolates the
          corresponding argument as a string; <tt class="LITERAL">%I</tt> escapes its argument as an SQL
          identifier; <tt class="LITERAL">%L</tt> escapes its
          argument as an SQL literal; <tt class="LITERAL">%%</tt>
          outputs a literal <tt class="LITERAL">%</tt>. A
          conversion can reference an explicit parameter position
          by preceding the conversion specifier with <tt class="LITERAL"><tt class="REPLACEABLE c3">n</tt>$</tt>, where
          <tt class="REPLACEABLE c3">n</tt> is the argument
          position.</td>

          <td><tt class="LITERAL">format('Hello %s, %1$s',
          'World')</tt></td>

          <td><tt class="LITERAL">Hello World, World</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">initcap(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert the first letter of each word to upper case
          and the rest to lower case. Words are sequences of
          alphanumeric characters separated by non-alphanumeric
          characters.</td>

          <td><tt class="LITERAL">initcap('hi THOMAS')</tt></td>

          <td><tt class="LITERAL">Hi Thomas</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">left(<tt class="PARAMETER">str</tt> <tt class="TYPE">text</tt>, <tt class="PARAMETER">n</tt> <tt class="TYPE">int</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return first <tt class="REPLACEABLE c3">n</tt>
          characters in the string. When <tt class="REPLACEABLE c3">n</tt> is negative, return all but last
          |<tt class="REPLACEABLE c3">n</tt>| characters.</td>

          <td><tt class="LITERAL">left('abcde', 2)</tt></td>

          <td><tt class="LITERAL">ab</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">length(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Number of characters in <tt class="PARAMETER">string</tt></td>

          <td><tt class="LITERAL">length('jose')</tt></td>

          <td><tt class="LITERAL">4</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">length(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">bytea</tt>, <tt class="PARAMETER">encoding</tt> <tt class="TYPE">name</tt>
          )</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Number of characters in <tt class="PARAMETER">string</tt> in the given <tt class="PARAMETER">encoding</tt>. The <tt class="PARAMETER">string</tt> must be valid in this
          encoding.</td>

          <td><tt class="LITERAL">length('jose', 'UTF8')</tt></td>

          <td><tt class="LITERAL">4</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">lpad(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">length</tt> <tt class="TYPE">int</tt>
          [<span class="OPTIONAL">, <tt class="PARAMETER">fill</tt>
          <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Fill up the <tt class="PARAMETER">string</tt> to
          length <tt class="PARAMETER">length</tt> by prepending
          the characters <tt class="PARAMETER">fill</tt> (a space
          by default). If the <tt class="PARAMETER">string</tt> is
          already longer than <tt class="PARAMETER">length</tt>
          then it is truncated (on the right).</td>

          <td><tt class="LITERAL">lpad('hi', 5, 'xy')</tt></td>

          <td><tt class="LITERAL">xyxhi</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">ltrim(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt> [<span class="OPTIONAL">,
          <tt class="PARAMETER">characters</tt> <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Remove the longest string containing only characters
          from <tt class="PARAMETER">characters</tt> (a space by
          default) from the start of <tt class="PARAMETER">string</tt></td>

          <td><tt class="LITERAL">ltrim('zzzytrim',
          'xyz')</tt></td>

          <td><tt class="LITERAL">trim</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">md5(<tt class="PARAMETER">string</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Calculates the MD5 hash of <tt class="PARAMETER">string</tt>, returning the result in
          hexadecimal</td>

          <td><tt class="LITERAL">md5('abc')</tt></td>

          <td><tt class="LITERAL">900150983cd24fb0
          d6963f7d28e17f72</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">pg_client_encoding()</code></tt></td>

          <td><tt class="TYPE">name</tt></td>

          <td>Current client encoding name</td>

          <td><tt class="LITERAL">pg_client_encoding()</tt></td>

          <td><tt class="LITERAL">SQL_ASCII</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">quote_ident(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return the given string suitably quoted to be used as
          an identifier in an <acronym class="ACRONYM">SQL</acronym> statement string. Quotes are
          added only if necessary (i.e., if the string contains
          non-identifier characters or would be case-folded).
          Embedded quotes are properly doubled.</td>

          <td><tt class="LITERAL">quote_ident('Foo bar')</tt></td>

          <td><tt class="LITERAL">"Foo bar"</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">quote_literal(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return the given string suitably quoted to be used as
          a string literal in an <acronym class="ACRONYM">SQL</acronym> statement string. Embedded
          single-quotes and backslashes are properly doubled. Note
          that <code class="FUNCTION">quote_literal</code> returns
          null on null input; if the argument might be null,
          <code class="FUNCTION">quote_nullable</code> is often
          more suitable.</td>

          <td><tt class="LITERAL">quote_literal(E'O\'Reilly')</tt></td>

          <td><tt class="LITERAL">'O''Reilly'</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">quote_literal(<tt class="PARAMETER">value</tt>
          <tt class="TYPE">anyelement</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Coerce the given value to text and then quote it as a
          literal. Embedded single-quotes and backslashes are
          properly doubled.</td>

          <td><tt class="LITERAL">quote_literal(42.5)</tt></td>

          <td><tt class="LITERAL">'42.5'</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">quote_nullable(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return the given string suitably quoted to be used as
          a string literal in an <acronym class="ACRONYM">SQL</acronym> statement string; or, if the
          argument is null, return <tt class="LITERAL">NULL</tt>.
          Embedded single-quotes and backslashes are properly
          doubled.</td>

          <td><tt class="LITERAL">quote_nullable(NULL)</tt></td>

          <td><tt class="LITERAL">NULL</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">quote_nullable(<tt class="PARAMETER">value</tt> <tt class="TYPE">anyelement</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Coerce the given value to text and then quote it as a
          literal; or, if the argument is null, return <tt class="LITERAL">NULL</tt>. Embedded single-quotes and
          backslashes are properly doubled.</td>

          <td><tt class="LITERAL">quote_nullable(42.5)</tt></td>

          <td><tt class="LITERAL">'42.5'</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">regexp_matches(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">pattern</tt> <tt class="TYPE">text</tt> [, <tt class="PARAMETER">flags</tt>
          <tt class="TYPE">text</tt>])</code></tt></td>

          <td><tt class="TYPE">setof text[]</tt></td>

          <td>Return all captured substrings resulting from
          matching a POSIX regular expression against the
          <tt class="PARAMETER">string</tt>.</td>

          <td><tt class="LITERAL">regexp_matches('foobarbequebaz',
          '(bar)(beque)')</tt></td>

          <td><tt class="LITERAL">{bar,beque}</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">regexp_replace(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">pattern</tt> <tt class="TYPE">text</tt>, <tt class="PARAMETER">replacement</tt>
          <tt class="TYPE">text</tt> [, <tt class="PARAMETER">flags</tt> <tt class="TYPE">text</tt>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Replace substring(s) matching a POSIX regular
          expression.</td>

          <td><tt class="LITERAL">regexp_replace('Thomas',
          '.[mN]a.', 'M')</tt></td>

          <td><tt class="LITERAL">ThM</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">regexp_split_to_array(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">pattern</tt> <tt class="TYPE">text</tt> [, <tt class="PARAMETER">flags</tt>
          <tt class="TYPE">text</tt> ])</code></tt></td>

          <td><tt class="TYPE">text[]</tt></td>

          <td>Split <tt class="PARAMETER">string</tt> using a POSIX
          regular expression as the delimiter.</td>

          <td><tt class="LITERAL">regexp_split_to_array('hello
          world', E'\\s+')</tt></td>

          <td><tt class="LITERAL">{hello,world}</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">regexp_split_to_table(<tt class="PARAMETER">string</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">pattern</tt> <tt class="TYPE">text</tt> [, <tt class="PARAMETER">flags</tt>
          <tt class="TYPE">text</tt>])</code></tt></td>

          <td><tt class="TYPE">setof text</tt></td>

          <td>Split <tt class="PARAMETER">string</tt> using a POSIX
          regular expression as the delimiter.</td>

          <td><tt class="LITERAL">regexp_split_to_table('hello
          world', E'\\s+')</tt></td>

          <td>
            <tt class="LITERAL">hello</tt>

            <p><tt class="LITERAL">world</tt></p>(2 rows)
          </td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">repeat(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">number</tt> <tt class="TYPE">int</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Repeat <tt class="PARAMETER">string</tt> the
          specified <tt class="PARAMETER">number</tt> of times</td>

          <td><tt class="LITERAL">repeat('Pg', 4)</tt></td>

          <td><tt class="LITERAL">PgPgPgPg</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">replace(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">from</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">to</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Replace all occurrences in <tt class="PARAMETER">string</tt> of substring <tt class="PARAMETER">from</tt> with substring <tt class="PARAMETER">to</tt></td>

          <td><tt class="LITERAL">replace('abcdefabcdef', 'cd',
          'XX')</tt></td>

          <td><tt class="LITERAL">abXXefabXXef</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">reverse(<tt class="PARAMETER">str</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return reversed string.</td>

          <td><tt class="LITERAL">reverse('abcde')</tt></td>

          <td><tt class="LITERAL">edcba</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">right(<tt class="PARAMETER">str</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">n</tt>
          <tt class="TYPE">int</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Return last <tt class="REPLACEABLE c3">n</tt>
          characters in the string. When <tt class="REPLACEABLE c3">n</tt> is negative, return all but first
          |<tt class="REPLACEABLE c3">n</tt>| characters.</td>

          <td><tt class="LITERAL">right('abcde', 2)</tt></td>

          <td><tt class="LITERAL">de</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">rpad(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">length</tt> <tt class="TYPE">int</tt>
          [<span class="OPTIONAL">, <tt class="PARAMETER">fill</tt>
          <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Fill up the <tt class="PARAMETER">string</tt> to
          length <tt class="PARAMETER">length</tt> by appending the
          characters <tt class="PARAMETER">fill</tt> (a space by
          default). If the <tt class="PARAMETER">string</tt> is
          already longer than <tt class="PARAMETER">length</tt>
          then it is truncated.</td>

          <td><tt class="LITERAL">rpad('hi', 5, 'xy')</tt></td>

          <td><tt class="LITERAL">hixyx</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">rtrim(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt> [<span class="OPTIONAL">,
          <tt class="PARAMETER">characters</tt> <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Remove the longest string containing only characters
          from <tt class="PARAMETER">characters</tt> (a space by
          default) from the end of <tt class="PARAMETER">string</tt></td>

          <td><tt class="LITERAL">rtrim('trimxxxx', 'x')</tt></td>

          <td><tt class="LITERAL">trim</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">split_part(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">delimiter</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">field</tt> <tt class="TYPE">int</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Split <tt class="PARAMETER">string</tt> on <tt class="PARAMETER">delimiter</tt> and return the given field
          (counting from one)</td>

          <td><tt class="LITERAL">split_part('abc~@~def~@~ghi',
          '~@~', 2)</tt></td>

          <td><tt class="LITERAL">def</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">strpos(<tt class="PARAMETER">string</tt>,
          <tt class="PARAMETER">substring</tt>)</code></tt></td>

          <td><tt class="TYPE">int</tt></td>

          <td>Location of specified substring (same as <tt class="LITERAL">position(<tt class="PARAMETER">substring</tt>
          in <tt class="PARAMETER">string</tt>)</tt>, but note the
          reversed argument order)</td>

          <td><tt class="LITERAL">strpos('high', 'ig')</tt></td>

          <td><tt class="LITERAL">2</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">substr(<tt class="PARAMETER">string</tt>,
          <tt class="PARAMETER">from</tt> [<span class="OPTIONAL">,
          <tt class="PARAMETER">count</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Extract substring (same as <tt class="LITERAL">substring(<tt class="PARAMETER">string</tt>
          from <tt class="PARAMETER">from</tt> for <tt class="PARAMETER">count</tt>)</tt>)</td>

          <td><tt class="LITERAL">substr('alphabet', 3,
          2)</tt></td>

          <td><tt class="LITERAL">ph</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">to_ascii(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt> [<span class="OPTIONAL">,
          <tt class="PARAMETER">encoding</tt> <tt class="TYPE">text</tt></span>])</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert <tt class="PARAMETER">string</tt> to
          <acronym class="ACRONYM">ASCII</acronym> from another
          encoding (only supports conversion from <tt class="LITERAL">LATIN1</tt>, <tt class="LITERAL">LATIN2</tt>,
          <tt class="LITERAL">LATIN9</tt>, and <tt class="LITERAL">WIN1250</tt> encodings)</td>

          <td><tt class="LITERAL">to_ascii('Karel')</tt></td>

          <td><tt class="LITERAL">Karel</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">to_hex(<tt class="PARAMETER">number</tt>
          <tt class="TYPE">int</tt> or <tt class="TYPE">bigint</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Convert <tt class="PARAMETER">number</tt> to its
          equivalent hexadecimal representation</td>

          <td><tt class="LITERAL">to_hex(2147483647)</tt></td>

          <td><tt class="LITERAL">7fffffff</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL"><code class="FUNCTION">translate(<tt class="PARAMETER">string</tt>
          <tt class="TYPE">text</tt>, <tt class="PARAMETER">from</tt> <tt class="TYPE">text</tt>,
          <tt class="PARAMETER">to</tt> <tt class="TYPE">text</tt>)</code></tt></td>

          <td><tt class="TYPE">text</tt></td>

          <td>Any character in <tt class="PARAMETER">string</tt>
          that matches a character in the <tt class="PARAMETER">from</tt> set is replaced by the
          corresponding character in the <tt class="PARAMETER">to</tt> set. If <tt class="PARAMETER">from</tt> is longer than <tt class="PARAMETER">to</tt>, occurrences of the extra characters
          in <tt class="PARAMETER">from</tt> are removed.</td>

          <td><tt class="LITERAL">translate('12345', '143',
          'ax')</tt></td>

          <td><tt class="LITERAL">a2x5</tt></td>
        </tr>
      </tbody>
    </table>
    
    <table border="1" class="CALSTABLE">
      <colgroup><col>
      <col>
      <col>
      <col>

      </colgroup><thead>
        <tr>
          <th>Operator</th>

          <th>Description</th>

          <th>Example</th>

          <th>Result</th>
        </tr>
      </thead>
<h3>Bit String Operators</h3>
      <tbody>
        <tr>
          <td><tt class="LITERAL">||</tt></td>

          <td>concatenation</td>

          <td><tt class="LITERAL">B'10001' || B'011'</tt></td>

          <td><tt class="LITERAL">10001011</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">&amp;</tt></td>

          <td>bitwise AND</td>

          <td><tt class="LITERAL">B'10001' &amp; B'01101'</tt></td>

          <td><tt class="LITERAL">00001</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">|</tt></td>

          <td>bitwise OR</td>

          <td><tt class="LITERAL">B'10001' | B'01101'</tt></td>

          <td><tt class="LITERAL">11101</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">#</tt></td>

          <td>bitwise XOR</td>

          <td><tt class="LITERAL">B'10001' # B'01101'</tt></td>

          <td><tt class="LITERAL">11100</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">~</tt></td>

          <td>bitwise NOT</td>

          <td><tt class="LITERAL">~ B'10001'</tt></td>

          <td><tt class="LITERAL">01110</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">&lt;&lt;</tt></td>

          <td>bitwise shift left</td>

          <td><tt class="LITERAL">B'10001' &lt;&lt; 3</tt></td>

          <td><tt class="LITERAL">01000</tt></td>
        </tr>

        <tr>
          <td><tt class="LITERAL">&gt;&gt;</tt></td>

          <td>bitwise shift right</td>

          <td><tt class="LITERAL">B'10001' &gt;&gt; 2</tt></td>

          <td><tt class="LITERAL">00100</tt></td>
        </tr>
      </tbody>
    </table>