<h3>Backup & Restore Database in PostgreSQL</h3>
1) Backup data with pg_dump
<pre>
pg_dump -i -h localhost -p 5432 -U postgres -F c -b -v -f 
&quot;/usr/local/backup/10.70.0.61.backup&quot; old_db
</pre>
<p>To list all of the available options of pg_dump , please issue following command.</p>
<code>
pg_dump -?
</code>
<ul>
<li>-p, –port=PORT database server port number</li>
<li>-i, –ignore-version proceed even when server version mismatches</li>
<li>-h, –host=HOSTNAME database server host or socket directory</li>
<li>-U, –username=NAME connect as specified database user</li>
<li>-W, –password force password prompt (should happen automatically)</li>
<li>-d, –dbname=NAME connect to database name</li>
<li>-v, –verbose verbose mode</li>
<li>-F, –format=c|t|p output file format (custom, tar, plain text)</li>
<li>-c, –clean clean (drop) schema prior to create</li>
<li>-b, –blobs include large objects in dump</li>
<li>-v, –verbose verbose mode</li>
<li>-f, –file=FILENAME output file name</li>
</ul>

2) Restore data with pg_restore
<pre>
pg_restore -i -h localhost -p 5432 -U postgres -d old_db -v 
&quot;/usr/local/backup/10.70.0.61.backup&quot;
</pre>
<p>To list all of the available options of pg_restore , please issue following command.</p>
<code>
pg_restore -?
</code>
<ul>
<li>-p, –port=PORT database server port number</li>
<li>-i, –ignore-version proceed even when server version mismatches</li>
<li>-h, –host=HOSTNAME database server host or socket directory</li>
<li>-U, –username=NAME connect as specified database user</li>
<li>-W, –password force password prompt (should happen automatically)</li>
<li>-d, –dbname=NAME connect to database name</li>
<li>-v, –verbose verbose mode</li>
</ul>
<h3>DUMP Single Table</h3>
<pre>
pg_dump.exe --host localhost --port 5432 --username &quot;postgres&quot; --no-password  --format plain --section pre-data --section data --section post-data --encoding UTF8 --inserts --column-inserts --verbose --file &quot;C:\Users\NIC\Desktop\office.sql&quot; --table &quot;public.c_offices&quot; &quot;secure20160804&quot;
</pre>

<h3>Creating a copy of a database in PostgreSQL</h3>
<pre>CREATE DATABASE newdb WITH TEMPLATE originaldb OWNER dbuser;</pre>

<h3>KILL ALL EXISTING CONNECTION FROM DB</h3>
<pre>SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity 
WHERE pg_stat_activity.datname = 'SOURCE_DB' AND pid <> pg_backend_pid();</pre>