<h3>Switch case (INSERT)</h3>
<pre>
INSERT INTO c_office 
            (office_code, 
             parent_code) 
SELECT DISTINCT office_code, 
                CASE 
                  WHEN Char_length (office_code) = 4 THEN 
                  Substring (office_code, 1, 2) 
                  WHEN Char_length (office_code) = 7 THEN 
                  Substring (office_code, 1, 4) 
                  WHEN Char_length (office_code) = 10 THEN 
                  Substring (office_code, 1, 7) 
                END 
FROM   office_user 
</pre>

<pre>
SELECT 
(CASE 
  WHEN Substring (dsor_code, 1, 2) = 'MR' THEN 
  Substring (dsor_code from 3) 
  WHEN Substring (dsor_code, 1, 2) = 'KW' THEN 
  Substring (dsor_code from 3) 
ELSE
Substring (dsor_code from 1)
END)::Integer 
AS dorder, 
Substring (dsor_code, 1, 2) as dtype,
dsor_year, dsortype_code, dsor_code, dsor_description, unit_code, rate
 FROM m_dsor WHERE dsor_year=2014 and dsortype_code=5 ORDER BY  dtype, dorder
</pre>
<h3>INSERT from SELECT</h3>
<pre>
INSERT INTO table2
(column_name(s))
SELECT column_name(s)
FROM table1;
</pre>
<h3>Switch case (UPDATE)</h3>
<pre>
UPDATE m_lmr_period
SET lmr_status = CASE
                     WHEN lmr_status IN ('P') THEN 'O'
                     WHEN lmr_status IN ('C') THEN 'P'
                     ELSE 'O'
                 END
</pre>
<h3>UPDATE from SELECT</h3>
<pre>
UPDATE dummy
SET customer=subquery.customer,
    address=subquery.address,
    partn=subquery.partn
FROM (SELECT address_id, customer, address, partn
      FROM  /* big hairy SQL */ ...) AS subquery
WHERE dummy.address_id=subquery.address_id;
</pre>

<h3>WITH RECURSIVE</h3>
<pre>
WITH RECURSIVE children AS
  ( SELECT '0'::varchar AS parent_code,
           A.level_code,
           A.level_name,
           A.code_length,
           1 AS DEPTH
   FROM c_levels A
   WHERE A.level_code ='05'
   UNION ALL SELECT B.parent_code AS parent_code,
                    B.level_code,
                    B.level_name,
                    B.code_length,
                    DEPTH + 1
   FROM c_levels B
   JOIN children C ON ( B.level_code = C.parent_code ))
SELECT *
FROM children
ORDER BY DEPTH DESC
</pre>
<h3>ADD new Column</h3>
<pre>ALTER TABLE mytable ADD COLUMN mycolumn character varying(50);</pre>
<pre>ALTER TABLE mytable ADD COLUMN mycolumn character varying(50) DEFAULT 'whatever' NOT NULL;</pre>
<h3>ALTER Column SET NOT NULL</h3>
<pre>ALTER TABLE tbl ALTER COLUMN BUSINESS_ID SET NOT NULL;</pre>
<h3>SELECT Null</h3>
<pre>select count(*) from USER where BUSINESS_ID is null</pre>
<h3>How to use SQL LIKE condition with multiple values in PostgreSQL?</h3>
<pre>SELECT * from table WHERE column SIMILAR TO '(AAA|BBB|CCC)%';</pre>
<h3>How to use SQL NOT LIKE condition with multiple values in PostgreSQL?</h3>
<pre>SELECT * from table WHERE column NOT SIMILAR TO '(AAA|BBB|CCC)%';</pre>