<ul>
	<li><a href="http://sqlformat.org/" target="_blank">SQL Format</a></li>
	<li><a href="http://www.dpriver.com/pp/sqlformat.htm" target="_blank">Instant SQL Formatter</a></li>
	<li><a href="http://tools.perceptus.ca/text-wiz.php?ops=7" target="_blank">Excel-to SQL INSERT Commands</a></li>
	<li><a href="https://sqlizer.io/" target="_blank">xls,xlsx,csv,tsv,xml,json to SQL Commands</a></li>
	<li><a href="http://sql-tuning.com/" target="_blank">SQL Tuning</a></li>
	<li><a href="http://sqltest.net/" target="_blank">SQL Test</a></li>
</ul>