<p><strong>SOLUTION ONE</strong></p>

<pre class="default prettyprint prettyprinted" style=""><code><span class="pln">$this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">where</span><span class="pun">(</span><span class="str">'id'</span><span class="pun">,</span><span class="pln"> </span><span class="str">'3'</span><span class="pun">);</span><span class="pln">
</span><span class="com">// here we select every column of the table</span><span class="pln">
$q </span><span class="pun">=</span><span class="pln"> $this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">get</span><span class="pun">(</span><span class="str">'my_users_table'</span><span class="pun">);</span><span class="pln">
$data </span><span class="pun">=</span><span class="pln"> $q</span><span class="pun">-&gt;</span><span class="pln">result_array</span><span class="pun">();</span><span class="pln">

echo</span><span class="pun">(</span><span class="pln">$data</span><span class="pun">[</span><span class="lit">0</span><span class="pun">][</span><span class="str">'age'</span><span class="pun">]);</span></code></pre>

<p><strong>SOLUTION TWO</strong></p>

<pre class="default prettyprint prettyprinted" style=""><code><span class="com">// here we select just the age column</span><span class="pln">
$this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">select</span><span class="pun">(</span><span class="str">'age'</span><span class="pun">);</span><span class="pln">
$this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">where</span><span class="pun">(</span><span class="str">'id'</span><span class="pun">,</span><span class="pln"> </span><span class="str">'3'</span><span class="pun">);</span><span class="pln">
$q </span><span class="pun">=</span><span class="pln"> $this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">get</span><span class="pun">(</span><span class="str">'my_users_table'</span><span class="pun">);</span><span class="pln">
$data </span><span class="pun">=</span><span class="pln"> $q</span><span class="pun">-&gt;</span><span class="pln">result_array</span><span class="pun">();</span><span class="pln">

echo</span><span class="pun">(</span><span class="pln">$data</span><span class="pun">[</span><span class="lit">0</span><span class="pun">][</span><span class="str">'age'</span><span class="pun">]);</span></code></pre>

<p><strong>SOLUTION THREE</strong></p>

<pre class="default prettyprint prettyprinted" style=""><code><span class="pln">$this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">select</span><span class="pun">(</span><span class="str">'age'</span><span class="pun">);</span><span class="pln">
$this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">where</span><span class="pun">(</span><span class="str">'id'</span><span class="pun">,</span><span class="pln"> </span><span class="str">'3'</span><span class="pun">);</span><span class="pln">
$q </span><span class="pun">=</span><span class="pln"> $this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="kwd">get</span><span class="pun">(</span><span class="str">'my_users_table'</span><span class="pun">);</span><span class="pln">
</span><span class="com">// if id is unique, we want to return just one row</span><span class="pln">
$data </span><span class="pun">=</span><span class="pln"> array_shift</span><span class="pun">(</span><span class="pln">$q</span><span class="pun">-&gt;</span><span class="pln">result_array</span><span class="pun">());</span><span class="pln">

echo</span><span class="pun">(</span><span class="pln">$data</span><span class="pun">[</span><span class="str">'age'</span><span class="pun">]);</span></code></pre>

<p><strong>SOLUTION FOUR (NO ACTIVE RECORD)</strong></p>

<pre class="default prettyprint prettyprinted" style=""><code><span class="pln">$q </span><span class="pun">=</span><span class="pln"> $this</span><span class="pun">-&gt;</span><span class="pln">db</span><span class="pun">-&gt;</span><span class="pln">query</span><span class="pun">(</span><span class="str">'SELECT age FROM my_users_table WHERE id = ?'</span><span class="pun">,</span><span class="pln">array</span><span class="pun">(</span><span class="lit">3</span><span class="pun">));</span><span class="pln">
$data </span><span class="pun">=</span><span class="pln"> array_shift</span><span class="pun">(</span><span class="pln">$q</span><span class="pun">-&gt;</span><span class="pln">result_array</span><span class="pun">());</span><span class="pln">
echo</span><span class="pun">(</span><span class="pln">$data</span><span class="pun">[</span><span class="str">'age'</span><span class="pun">]);</span></code></pre>

<p>you can use row() instead of result()</p>
<pre>
$this-&gt;db-&gt;where(&#39;id&#39;, &#39;3&#39;);
$q = $this-&gt;db-&gt;get(&#39;my_users_table&#39;)-&gt;row();
</pre>

<p>Accessing a single row</p>
<pre>
//Result as an Object
$result = $this-&gt;db-&gt;select(&#39;age&#39;)-&gt;from(&#39;my_users_table&#39;)-&gt;where(&#39;id&#39;, &#39;3&#39;)-&gt;limit(1)-&gt;get()-&gt;row();
echo $result-&gt;age;

//Result as an Array
$result = $this-&gt;db-&gt;select(&#39;age&#39;)-&gt;from(&#39;my_users_table&#39;)-&gt;where(&#39;id&#39;, &#39;3&#39;)-&gt;limit(1)-&gt;get()-&gt;row_array();
echo $result[&#39;age&#39;];
</pre>