<ul>
	<li><a href="https://1stwebdesigner.com/css-effects/" target="_blank">CSS 3 Effects</a></li>
	<li><a href="https://1stwebdesigner.com/css3-text-effects-typography/" target="_blank">CSS 3 Text Effects</a></li>
</ul>