/*

*/

html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell; padding:5px; }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 0;border-collapse: collapse;border-color: #ccc;border: 1px solid #ccc; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
dir,
menu, dd        { margin:0; padding:0; }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}


/* Page styles */

body,h1,h2,h3,td,quote,small,form,input,ul,li,ol,label{
	font-family:Arial, Helvetica, sans-serif;
}

body{
	margin-top:20px;
	color:#51555C;
	font-size:13px;
	text-align:center;
	background: url(../../asserts/images/backgrounds/noise.png) repeat scroll 0 0;
}

.clear{
	clear:both;
}

a, a:visited {
	color:#007bc4;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background: #fff;
	padding: 15px 10px 15px 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
	font-weight:normal;
	font-size:20px;
	
	color:#999999;
}

ul#navigation{
	margin:30px 0px;
	text-align:center;
	padding: 0;
}

#navigation li{
	list-style:none;
	display:inline-block;
	min-width:80px;
}

#navigation li a, #navigation li a:visited{
	padding:5px 10px;
	text-align:center;
	background-color:#000033;
	color:white;
	
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;

	display:block;
	margin:0 5px;
}

#navigation li a:hover{
	background-color:#666666;
	text-decoration:none;
}

#rounded{
	width:77%;
	margin:20px auto;
	text-align:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 53, 98, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 53, 98, .2);
	box-shadow: 0 1px 5px rgba(0, 53, 98, .2);
	background: #F0F0F0;
	background: -moz-linear-gradient(left, #F0F0F0 0%, #F8F8F8 3%, #F8F8F8 96%, #F0F0F0 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F0F0F0), color-stop(3%,#F8F8F8), color-stop(96%,#F8F8F8), color-stop(100%,#F0F0F0));
	background: -webkit-linear-gradient(left, #F0F0F0 0%,#F8F8F8 3%,#F8F8F8 96%,#F0F0F0 100%);
	background: -o-linear-gradient(left, #F0F0F0 0%,#F8F8F8 3%,#F8F8F8 96%,#F0F0F0 100%);
	background: -ms-linear-gradient(left, #F0F0F0 0%,#F8F8F8 3%,#F8F8F8 96%,#F0F0F0 100%);
	background: linear-gradient(to right, #F0F0F0 0%,#F8F8F8 3%,#F8F8F8 96%,#F0F0F0 100%);
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
#pageContent{
	margin-top:20px;

	border:1px dashed #cccccc;
	padding:10px;
		
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#loading{
	visibility:hidden;
	position:absolute;
	right: 33px;
	top: 17px;
}

.demo{
	color:white;
}
img.goback {
	position: fixed;
	left: 12px;
	top: 7px;
}
.container{
	padding:10px 20px 20px 20px;
	position:relative;
}
.table td {
	border: 1px solid #ccc;
	padding: 5px 10px;
}
.full-width{
	width:100%;
}
.red {
	color: red;
}

.phpcode, .aspcode, .sqlcode, .vbacode, .jscode, .plaincode {
    background-color: #FAFCFE;
    overflow: auto;
    white-space: nowrap;
    border: 1px dashed #737272;
    color: #0C3E64;
    margin: 0 auto 15 auto;
    padding: 5px;
    font-family: Courier New, Verdana, Arial, Comic Sans MS;
    font-size: 9pt;
    width: 720px;
}