@charset "utf-8";
/* CSS Document */

a{outline:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img {display:block; }
img.goback {
position: absolute;
left: 12px;
top: 7px;
}

@font-face {
	font-family: 'PTSansBoldItalic';
	src: url('fonts/ptsans/PTS76F-webfont.eot');
	src: local('☺'), url('fonts/ptsans/PTS76F-webfont.woff') format('woff'), url('fonts/ptsans/PTS76F-webfont.ttf') format('truetype'), url('fonts/ptsans/PTS76F-webfont.svg#webfontnHhDPJvF') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/ptsans/PTS75F-webfont.eot');
	src: local('☺'), url('fonts/ptsans/PTS75F-webfont.woff') format('woff'), url('fonts/ptsans/PTS75F-webfont.ttf') format('truetype'), url('fonts/ptsans/PTS75F-webfont.svg#webfontO0AL69VA') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/ptsans/PTS56F-webfont.eot');
	src: local('☺'), url('fonts/ptsans/PTS56F-webfont.woff') format('woff'), url('fonts/ptsans/PTS56F-webfont.ttf') format('truetype'), url('fonts/ptsans/PTS56F-webfont.svg#webfontb3pcLB5e') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/ptsans/PTS55F-webfont.eot');
	src: local('☺'), url('fonts/ptsans/PTS55F-webfont.woff') format('woff'), url('fonts/ptsans/PTS55F-webfont.ttf') format('truetype'), url('fonts/ptsans/PTS55F-webfont.svg#webfontVOUaMV4S') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/ptserif/PTF55F-webfont.eot');
	src: local('☺'), url('fonts/ptserif/PTF55F-webfont.woff') format('woff'), url('fonts/ptserif/PTF55F-webfont.ttf') format('truetype'), url('fonts/ptserif/PTF55F-webfont.svg#webfont8gC51eVD') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/ptserif/PTF56F-webfont.eot');
	src: local('☺'), url('fonts/ptserif/PTF56F-webfont.woff') format('woff'), url('fonts/ptserif/PTF56F-webfont.ttf') format('truetype'), url('fonts/ptserif/PTF56F-webfont.svg#webfonte3qrXfzz') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/ptserif/PTF75F-webfont.eot');
	src: local('☺'), url('fonts/ptserif/PTF75F-webfont.woff') format('woff'), url('fonts/ptserif/PTF75F-webfont.ttf') format('truetype'), url('fonts/ptserif/PTF75F-webfont.svg#webfontNckRu2nu') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/ptserif/PTF76F-webfont.eot');
	src: local('☺'), url('fonts/ptserif/PTF76F-webfont.woff') format('woff'), url('fonts/ptserif/PTF76F-webfont.ttf') format('truetype'), url('fonts/ptserif/PTF76F-webfont.svg#webfontH9Tj91DF') format('svg');
	font-weight: bold;
	font-style: italic;
}


body,html{height:100%; margin:0; padding:0;background:#fff; color:#666; font-family:Arial, Helvetica, sans-serif; line-height:1.5em; font-size:15px; font-weight:normal;	}

#header{float:left; width:100%; background:#f5f5f5;background: url(../../asserts/images/backgrounds/noise.png) repeat scroll 0 0; }
#logo{padding:20px 0px 20px 0; }
#meta{width:670px; float:right; padding:60px 0 0 0; text-align:right; }
#nav{ float:left; width:980px; padding:10px 0px 20px; clear:both;}
#wrapper, #inner{margin:0 auto; width:980px;}
.contentwrap{/*margin-left:200px;*/ width:980px; float:left; }
.sidebar {
width: auto;
float: right;
max-width: 220px;
display: block;
margin: 60px 0px 0px 0px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.pagecontent{width:750px; float:left; padding: 40px 0; margin:0px;}

img.left {float:left;margin:01.5em 1.5em 0;padding:0;}
img.right {float:right;margin:0 0 1.5em 1.5em;}

h1,h2,h3,h4,h5,h6{/*font-family: PTSerifRegular, Georgia, "Times New Roman", Times, serif;*/ font-weight:normal; color:#333; margin:0 0 30px 0; }
h1{line-height:1.2em; font-size:30px; display:block; clear:both;}
h2{line-height:1.5em; font-size:24px; clear:both;
background:#222; padding:4px 10px; color:#eee; 
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
font-size:21px;
margin:0 0 20px 0;}
h3{line-height:1.2em; font-size:22px;}
h4{line-height:1.5em; font-size:18px; margin:0 0 12px 0;}
h5{font-family:verdana;line-height:1.5em; font-size:14px;color:#fff;}
h6{line-height:1.5em; font-size:15px;}
p{margin-bottom:12px; font-size:15px; color:#666;}

a{color:#b87112;}

#header h1, #header h5{font-weight:normal;}
#header p{color:#888;}

.nomargin{margin:0;}
scroll{display:block; clear:both;}
.right, right {
text-align: right;
display: block;
}
/* tables */
.table { 
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 30px;	
}
.table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.table thead td {
	font-weight: bold;
	border-bottom: 3px double #ddd;
	border-top: 1px solid #ddd;
	background: #fff;
}
.table .odd td { background: #fff; }

/* boxes */
.half, .third { 
	float: left; 
	width: 292px; 
	background: #EDEDED;
	border:1px solid #E0E0E0; 
	padding: 15px; 
	margin: 0 28px 30px 0; 
}
.third {
	width: 175px;
}

.last { 
	margin-right: 0; 
}

/* forms */
fieldset {
	border: 0;
}
label { 
	display: block;
	color: #444;
	padding: 0 0 2px;
}
input.text, textarea.text {
	width: 250px;
	padding: 5px;
	border: 0;
	border: 1px solid #ddd;
	margin: 0 0 3px;
}
textarea.text  {
	width: 400px;
	height: 120px;
}
input.submit {
	color: #fff;
	padding: 7px 10px;
	border: 0;
	font-weight: bold;
	background: #777;
}

/* Lists adn menus */
ul{list-style:square; }
ol{list-style:decimal;}
ul,ol{margin:20px 0 10px 40px;}
li, li a{line-height:24px;}

#nav ul{margin:0; padding:0; list-style:none; float:left; text-align:center;}
#nav ul li{display:inline-block; }
#nav ul li a{
	/*background:#050505; line-height:30px; height:30px; padding:0 10px; float:left; margin:0 4px 4px 0; text-decoration:none;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
font-size:12px;
font-weight:bold;
color:#fff;*/

}
#nav ul li a {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:13px;
	padding:2px 15px;
	margin:0 0 7px 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#nav ul li a:hover, #nav ul li.active a {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
	color:#b87112;
}
#nav ul li a:active {
	position:relative;
	top:1px;
}


/*#nav ul li.active a{background:#f9f9f9;color:#c96f05;}
#nav ul li a:hover{background:#eee;color:#c96f05;}*/
.sidebar p {font-size:12px;}
.sidebar ul{margin:0; padding:0; list-style:none; }
.sidebar ul li{line-height:30px;}
.totop{margin:40px 0 0 0; position:fixed; bottom:30px; left:50%; margin-left:360px; padding:0 20px; height:36px; line-height:36px; background:#da6702; color:#fff;
-moz-border-radius:2px;	
-webkit-border-radius:2px;
border-radius:2px;
font-size:12px;
text-decoration:none;
}


.error, .notice, .success {padding:.8em;margin-bottom:1em;border:1px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

#startbtn{
padding:0 20px;
height:66px; 
line-height:60px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
background:#da6702;
color:#fff;
display:block; float:left;
clear:both;
text-decoration:none;
margin:10px 0;
}
#startbtn:hover, .totop:hover{
background:#050505;

	}

pre, code, tt , code1{font:13px 'andale mono', 'lucida console', monospace;line-height:1.5;}
code1{color:#000;}
pre strong{color:#FF1F1F; font-family:"Lucida Console", Monaco, monospace; font-weight:normal;}
/*.code {
background: rgb(247, 247, 247);
border: 1px dashed #ccc;
padding: 0px 30px;
margin: 10px 0 10px 10px;
}*/
/*pre {
background: rgb(247, 247, 247);
border: 1px dashed #ccc;
padding: 0px 30px;
margin: 10px 0 10px 10px;
margin:1.5em 0;white-space:pre;
}*/
pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 20px;
word-break: break-all;
word-wrap: break-word;
white-space: pre;
white-space: pre-wrap;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
box-shadow:0 1px 5px rgba(0,0,0,0.2) inset, 0 0 20px rgba(0,0,0,0.1) inset;
}
code {
margin-bottom: 22px;
font-family: Consolas, Monaco, "Courier New", Courier, monospace;
font-size: 12px;
font-weight: inherit;
overflow-x: auto;
/*white-space: pre-wrap;
white-space: -moz-pre-wrap !important;
white-space: -pre-wrap;
white-space: -o-pre-wrap;*/
word-wrap: break-word;
display:block;
padding:10px;
border: 1px solid rgba(114, 114, 114, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
table.widefat {
border-collapse: collapse;
width: 100%;
clear: both;
margin-bottom: 11px;
}
table.widefat th {
padding-bottom: 4px;
padding-top: 8px;
text-align: left;
}
.pagecontentfull {
padding: 40px 0;
}
.ulink title1, .ulink a{width:50%; display:block;}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 8px;
	text-decoration:none;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.button:active {
	position:relative;
	top:1px;
}

.space {
display: block;
height: 25px;
width: 100%;
clear: both;
}