<h3>Read Input from User</h3>
<pre>
DataInputStream in = new DataInputStream(System.in);
number = Integer.parseInt(in.readLine());
</pre>
or<br/>
<pre>
Scanner scan= new Scanner(System.in);
n1=scan.nextInt();
</pre>
