<h3>Palindrome Program in Java</h3>
<p>Palindrome number in java: A palindrome number is a number that is same after reverse. For example 545, 151, 34543, 343, 171, 48984 are the palindrome numbers.</p>
<pre>
package study.functions;

import java.io.DataInputStream;
import java.io.IOException;

public class RunSnipperFunctions {

	public static void main(String[] args) throws NumberFormatException, IOException {
		findPalindrome(123321);
	}

	@SuppressWarnings(&quot;deprecation&quot;)
	public static void findPalindrome(int number) throws NumberFormatException, IOException {
		int temp = 0, r = 0, sum = 0;

		// INPUT VALUE FROM USER
		// DataInputStream in = new DataInputStream(System.in);
		// number = Integer.parseInt(in.readLine());

		temp = number;
		while (number &gt; 0) {
			r = number % 10;
			sum = (sum * 10) + r;
			number = number / 10;
		}
		if (temp == sum) {
			System.out.println(temp + &quot; is a Palindrome number&quot;);
		} else {
			System.out.println(temp + &quot; is not a Palindrome number&quot;);
		}

	}
}
</pre>


    <h3 class="red"><strong>Difference between Post Increment (n++) and Pre Increment (++n)</strong></h3>
      <p><strong>Post Increment (n++)</strong>: It increases the value of variable by 1 after execution of the statement. </p>
      <p><strong>Pre Increment (++n)</strong>: It increases the value of variable by 1 before execution of the statement.</p>
      <table border="0" cellspacing="1" cellpadding="3">
        <tbody><tr>
          <td bgcolor="#EEEEEE"><strong>Program</strong></td>
          <td bgcolor="#DDDDDD"><strong>Output</strong></td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE"><pre>class Demo
{
	public static void main(String args[])
	{		
		int n=10;
		System.out.println(n);
		System.out.println(n++);
		System.out.println(n);
	}
}
      </pre></td>
          <td valign="top" bgcolor="#DDDDDD"><pre>
10
10
11
      </pre>          </td>
        </tr>
      </tbody></table>
      <br>
      <table border="0" cellspacing="1" cellpadding="3">
        <tbody><tr>
          <td bgcolor="#EEEEEE"><strong>Program</strong></td>
          <td bgcolor="#DDDDDD"><strong>Output</strong></td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE"><pre>class Demo
{
	public static void main(String args[])
	{		
		int n=10;
		System.out.println(n);
		System.out.println(++n);
		System.out.println(n);
	}
}
      </pre></td>
          <td valign="top" bgcolor="#DDDDDD"><pre>




10
11
11
      </pre>          </td>
        </tr>
      </tbody></table> 
    
    
    <h3 class="red"><strong>Prime Number </strong></h3>
    <p><strong>Logic:</strong> Prime Number are divisible by itself only. </p>
    <p>A prime number is a whole number greater than 1, whose only two whole-number factors are 1 and itself. The first few prime numbers are 2, 3, 5, 7, 11, 13, 17, 19, 23, and 29. As we proceed in the set of natural numbers N = {1, 2, 3, ...}, the primes become less and less frequent in general.</p>
    <table border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
      <tbody><tr>
        <td valign="top" class="blue"><strong>Not divisible by any Number </strong></td>
        <td valign="top" class="blue"><strong>Divisible by 2 ...no need to check further </strong></td>
        <td valign="top" class="blue"><strong>Divisible by 3 ...no need to check further </strong></td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#EEEEEE"><p><strong>7%2=1<br>
          7%3=1<br>
          7%4=3<br>
          7%5=2<br>
          7%6=1</strong></p>          </td>
        <td valign="top" bgcolor="#EEEEEE"><strong>8%2=0<br>
8%3=<br>
8%4=<br>
8%5=<br>
8%6=<br>
        8%7=</strong></td>
        <td valign="top" bgcolor="#EEEEEE"><strong>9%2=1<br>
9%3=0<br>
9%4<br>
9%5<br>
9%6<br>
        9%7<br>
        9%8</strong></td>
      </tr>
      <tr>
        <td colspan="3" valign="top" bgcolor="#EEEEEE"><em>Numbers are not divisible by more than half of the number </em></td>
        </tr>
      <tr>
        <td valign="top" bgcolor="#EEEEEE">No need to check upto 6 check upto 3 only <br></td>
        <td valign="top" bgcolor="#EEEEEE">No need to check upto 7 check upto 4 only</td>
        <td valign="top" bgcolor="#EEEEEE">No need to check upto 8 check upto 4 only</td>
      </tr>
    </tbody></table>
    <br>
    <table border="0" cellspacing="1" cellpadding="3">
      <tbody><tr>
        <td bgcolor="#EEEEEE"><strong>Program</strong></td>
        <td bgcolor="#DDDDDD"><strong>Output</strong></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE">
<pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Prime
{
	public static void main(String args[])
	{		
		int n, i, res;
		boolean flag=true;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter a No.");
		n=scan.nextInt();
		for(i=2;i&lt;=n/2;i++)
		{
			res=n%i;
			if(res==0)
			{
				flag=false;
				break;
			}
		}
		if(flag)
			System.out.println(n + " is Prime Number");
		else
			System.out.println(n + " is not Prime Number");
	}
}
      </pre></td>
        <td valign="top" bgcolor="#DDDDDD">
<pre>Please Enter a No.: 7
7 is Prime Number
</pre></td>
      </tr>
    </tbody></table> 
    
    
<h3 class="red"><strong>Fibonacci Series ( 1 1 2 3 5 8 13...) </strong> </h3>
        <p><strong>Logic:</strong> Sum of previous two numbers will give us next number. </p>
      <table border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tbody><tr>
            <td align="center" valign="top"><strong>prev</strong></td>
            <td align="center" valign="top"><strong>next</strong></td>
            <td align="center" valign="top"><strong>sum</strong></td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
            <td align="center" valign="top" bgcolor="#EEEEEE" class="blue">shifted to <strong>prev </strong></td>
            <td align="center" valign="top" bgcolor="#EEEEEE" class="blue">shifted to <strong>next </strong></td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">2</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">2</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">2</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">8</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">8</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">13</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">8</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">13</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">...</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">13</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">...</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">...</td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><em>prev will give you fibonacci series </em></td>
          </tr>
        </tbody></table>
      <br>
      <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td width="30%" bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="75%" bgcolor="#EEEEEE"><pre>class Fibonacci
{
	public static void main(String args[])
	{		
		int prev, next, sum, n;
		prev=next=1
		for(n=1;n&lt;=10;n++)
		{
			System.out.println(prev);
			sum=prev+next;
			prev=next;
			next=sum;
		}
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>1
1
2
3
5
8
13
...      </pre></td>
          </tr>
      </tbody></table>
      

<h3 class="red"><strong>Sum of 1st 10 Natural Numbers </strong> </h3>
        <p><strong>Logic:</strong> Sum of previous two numbers will give us next number. </p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tbody><tr>
            <td align="center" valign="top"><strong>sum</strong></td>
            <td align="center" valign="top"><strong>n</strong></td>
            <td align="center" valign="top"><strong>sum</strong></td>
          </tr>
          <tr>
            <td colspan="2" align="center" valign="top" bgcolor="#EEEEEE" class="blue">sum+n<strong></strong></td>
            <td align="center" valign="top" bgcolor="#EEEEEE" class="blue">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">0</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">2</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">6</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">6</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">4</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">10</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">10</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">15</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">15</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">6</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">21</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">21</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">7</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">28</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">28</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">8</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">36</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">36</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">9</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">45</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">45</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">10</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">55</td>
          </tr>
        </tbody></table>
      <br>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td width="30%" bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="75%" bgcolor="#EEEEEE"><pre>class Sum10
{
	public static void main(String args[])
	{		
		int n, sum=0;
		for(n=1;n&lt;=10;n++)
		{
			sum+=n;    //or sum=sum+n;
		}
		System.out.println(sum);
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>55   </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Sum of Square of 1st 10 Natural Numbers </strong> </h3>
        <p><strong>Logic:</strong> Sum of previous two numbers will give us next number. </p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tbody><tr>
            <td align="center" valign="top"><strong>sum</strong></td>
            <td align="center" valign="top"><strong>n*n</strong></td>
            <td align="center" valign="top"><strong>sum</strong></td>
          </tr>
          <tr>
            <td colspan="2" align="center" valign="top" bgcolor="#EEEEEE" class="blue">sum+n<strong>*n</strong></td>
            <td align="center" valign="top" bgcolor="#EEEEEE" class="blue">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">0</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1*1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">2*2</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3*3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">14</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">14</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">4*4</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">30</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">30</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5*5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">55</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">55</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">6*6</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">91</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">91</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">7*7</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">140</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">140</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">8*8</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">204</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">204</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">9*9</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">285</td>
          </tr>
          <tr>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">285</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">10*10</td>
            <td width="33%" align="center" valign="top" bgcolor="#EEEEEE">385</td>
          </tr>
        </tbody></table>
      <br>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td width="30%" bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="75%" bgcolor="#EEEEEE"><pre>class SumSq10
{
	public static void main(String args[])
	{		
		int n, sum=0;
		for(n=1;n&lt;=10;n++)
		{
			sum+=n;*n    //or sum=sum+n;*n
		}
		System.out.println(sum);
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>385  </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Factorial</strong></h3>
        <p><strong>Logic:</strong> Factorial of 5 = 5 x 4 x 3 x 2 x 1 </p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tbody><tr>
            <td width="33%" align="center" valign="top"><strong>prod</strong></td>
            <td width="33%" align="center" valign="top"><strong>n</strong></td>
            <td width="33%" align="center" valign="top"><strong>prod</strong></td>
          </tr>
          <tr>
            <td colspan="2" align="center" valign="top" bgcolor="#EEEEEE" class="blue">prod*n<strong></strong></td>
            <td align="center" valign="top" bgcolor="#EEEEEE" class="blue">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">4</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">20</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">20</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">60</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">60</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">2</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">120</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">120</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">120</td>
          </tr>
        </tbody></table>
      <br>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Factorial
{
	public static void main(String args[])
	{		
		int n, i, prod=1;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter a No.");
		n=scan.nextInt();
		for(i=n;i&gt;=1;i--)
		{
			prod*=i;	//prod=prod*i;
		}
		System.out.println("Factorial of " + n + " is  " + prod);
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter a No.: 5
Factorial of 5 is 120
    </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Biggest of 3 Numbers using Logical Operators</strong><br>
      </h3>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Biggest3
{
	public static void main(String args[])
	{		
		int n1, n2, n3, big;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter No 1: ");
		n1=scan.nextInt();
		System.out.println("Please Enter No 2: ");
		n2=scan.nextInt();
		System.out.println("Please Enter No 3: ");
		n3=scan.nextInt();
		if(n1&gt;n2 &amp;&amp; n1&gt;n3)
			big=n1;
		else if(n2&gt;n1 &amp;&amp; n2&gt;n3)
			big=n2;
		else
			big=n3;
		System.out.println("Biggest No: " + big);
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter No 1: 5
Please Enter No 2: 23
Please Enter No 3: 14
Biggest No: 23
    </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Biggest of 3 Numbers using Nested If </strong><br>
      </h3>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Biggest3
{
	public static void main(String args[])
	{		
		int n1, n2, n3, big;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter No 1: ");
		n1=scan.nextInt();
		System.out.println("Please Enter No 2: ");
		n2=scan.nextInt();
		System.out.println("Please Enter No 3: ");
		n3=scan.nextInt();
		if(n1&gt;n2)
		{
			if(n1&gt;n3)
				big=n1;
			else
				big=n3;
		}
		else
		{
			if(n2&gt;n3)
				big=n2;
			else
				big=n3;
		}
		System.out.println("Biggest No: " + big);
	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter No 1: 5
Please Enter No 2: 23
Please Enter No 3: 14
Biggest No: 23
    </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Swap 2 Numbers using 3rd Variable </strong></h3>
      <p><strong>Logic:</strong></p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
        <tbody><tr>
          <td width="33%" align="center" valign="top"><strong>n1</strong></td>
          <td width="33%" align="center" valign="top"><strong>n2</strong></td>
          <td width="33%" align="center" valign="top"><strong>temp</strong></td>
        </tr>
        
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">23</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">0</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">23</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">23</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">23</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">23</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
        </tr>
      </tbody></table>
      <br>
      <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Swap
{
	public static void main(String args[])
	{		
		int n1, n2, temp;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter No 1: ");
		n1=scan.nextInt();
		System.out.println("Please Enter No 2: ");
		n2=scan.nextInt();
		<b>temp=n1;
		n1=n2;
		n2=temp;</b>
		System.out.println("First No: " + n1);
		System.out.println("Second No: " + n2);

	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter No 1: 5
Please Enter No 2: 23
First No: 23
Second No: 5
    </pre></td>
          </tr>
      </tbody></table>
      
<h3 class="red"><strong>Swap 2 Numbers without using 3rd Variable </strong></h3>
        <p><strong>Logic:</strong></p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tbody><tr>
            <td width="33%" align="center" valign="top"><strong>n1</strong></td>
            <td width="33%" align="center" valign="top"><strong>n2</strong></td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">10</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">15</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">15</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">10</td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
            <td align="center" valign="top" bgcolor="#EEEEEE">10</td>
          </tr>
        </tbody></table>
      <br>
        <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class Swap
{
	public static void main(String args[])
	{		
		int n1, n2, temp;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter No 1: ");
		n1=scan.nextInt();
		System.out.println("Please Enter No 2: ");
		n2=scan.nextInt();
		<b>n1=n1+n2;
		n2=n1-n2;
		n1=n1-n2</b>
		System.out.println("First No: " + n1);
		System.out.println("Second No: " + n2);

	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter No 1: 10
Please Enter No 2: 5
First No: 5
Second No: 10
    </pre></td>
          </tr>
      </tbody></table>
      <h3 class="red"><strong>Sum of Digits </strong></h3>
      <p><strong>Logic:</strong> 513 -&gt; 5+1+3=9 </p>
      <table width="300" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
        <tbody><tr>
          <td width="33%" align="center" valign="top"><strong>n</strong></td>
          <td width="33%" align="center" valign="top"><strong>res</strong></td>
          <td width="33%" align="center" valign="top"><strong>n</strong></td>
          <td width="33%" align="center" valign="top"><strong>sum</strong></td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">513</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">0</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">513%10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">513/10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">51</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">3</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">51%10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">1</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">4</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">51/10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">4</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">5%10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">5</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">9</td>
        </tr>
        <tr>
          <td align="center" valign="top" bgcolor="#EEEEEE">5/10</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">&nbsp;</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">0</td>
          <td align="center" valign="top" bgcolor="#EEEEEE">9</td>
        </tr>
      </tbody></table>
      <br>
      <table width="90%" border="0" cellspacing="1" cellpadding="3">
          <tbody><tr>
            <td bgcolor="#EEEEEE"><strong>Program</strong></td>
            <td bgcolor="#DDDDDD"><strong>Output</strong></td>
          </tr>
          <tr>
            <td width="70%" bgcolor="#EEEEEE"><pre>//Note: Scanner class work with JDK1.5 or above
import java.util.*;
class SumDigits
{
	public static void main(String args[])
	{		
		int n, res;
		Scanner scan= new Scanner(System.in);
		System.out.println("Please Enter No.: ");
		n1=scan.nextInt();
		while(n&gt;0)
		{
			res=n%10;
			n=n/10;
			sum+=res;	//sum=sum+res;
		}
		System.out.println("Second No: " + n2);

	}
}
      </pre></td>
            <td width="30%" valign="top" bgcolor="#DDDDDD"><pre>Please Enter No 1: 10
Please Enter No 2: 5
First No: 5
Second No: 10
    </pre></td>
          </tr>
      </tbody></table>
      
<h3>Find Armstrong number</h3>
<p>An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to the number itself. For example, 371 is an Armstrong number since 3**3 + 7**3 + 1**3 = 371. Write a program to find all Armstrong number in the range of 0 and 999.</p>

<h4>Check Armstrong Number of three digits</h4>
<pre>
public static void findArmstrongNumber3digit(int number){
		int temp, r, sum = 0;
		
		temp = number;
		while(number&gt;0) {
			r = number%10;
			sum = sum + (r*r*r);
			number = number/10;
		}
		
		if (temp == sum) {
			System.out.println(temp + &quot; is a Armstrong number&quot;);
		} else {
			System.out.println(temp + &quot; is not a Armstrong number&quot;);
		}
	}
</pre>

<h4>Check Armstrong Number of N digits</h4>
<pre>
public static void findArmstrongNumberNdigit(int number){
		int temp, r, sum = 0, power = 0;
		
		temp = number;
		
		while (number != 0)
	    {
			number /= 10;
	        ++power;
	    }
		
		number = temp;
		
		while(number&gt;0) {
			r = number%10;
			sum = (int) (sum + Math.pow(r, power));
			number = number/10;
		}
		
		if (temp == sum) {
			System.out.println(temp + &quot; is a Armstrong number&quot;);
		} else {
			System.out.println(temp + &quot; is not a Armstrong number&quot;);
		}
	}
</pre>
<h3>Function to find Missing Number in Sorted Array</h3>
<pre>
import java.util.Arrays; 
/** * Java Program to find the missing number in a sorted array with integers in range 0 to n -1 * * @author Javin Paul */
public class MissingNumberFinder {
 public static void main(String args[]) {
  System.out.println(&quot;Test #1 : Missing number in sorted array &quot;);
  int[] input = new int[] {
   1,
   2,
   3,
   4,
   6
  };
  int missing = missingNumberFromSortedArray(input);
  System.out.println(&quot;Missing number from array : &quot; + Arrays.toString(input) + &quot; is : &quot; + missing);
 }
 public static int missingNumberFromSortedArray(int[] numbers) {
  if (numbers == null || numbers.length &lt;= 0) {
   throw new IllegalArgumentException(&quot;Null or Empty array not permitted&quot;);
  }
  int left = 0;
  int right = numbers.length - 1;
  while (left &lt;= right) {
   int middle = (right + left) &gt;&gt; 1;
   if (numbers[middle] != middle) {
    if (middle == 0 || numbers[middle - 1] == middle - 1) {
     return middle;
    }
    right = middle - 1;
   } else {
    left = middle + 1;
   }
  }
  throw new RuntimeException(&quot;No missing number&quot;);
 }
}
Output: Test #1 : Missing number in sorted array Missing number from array : [1, 2, 3, 4, 6] is : 0
</pre>