<ul>
	<li><a href="http://www.codejava.net/" target="_blank">Code Java</a></li>
	<li><a href="http://www.javatpoint.com/opr/test.jsp?filename=Simple" target="_blank">Online IDE</a></li>
	<li><a href="http://codebeautify.org/" target="_blank">Code Beautify</a></li>
	<li><a href="https://www.hurl.it/" target="_blank">Rest - Make HTTP requests</a></li>
	<li><a href="http://www.javatpoint.com/" target="_blank">Tutorials Java</a>, <a href="http://www.javatpoint.com/examaccess" target="_blank">Online Test</a></li>
</ul>
<h3>Eclipse Usefull Plugins</h3>
<ul>
	<li><a href="https://marketplace.eclipse.org/content/checkstyle-plug" target="_blank">Checkstyle Plug-in</a></li>
	<li><a href="https://marketplace.eclipse.org/content/umlet-uml-tool-fast-uml-diagrams" target="_blank">UMLet - UML Tool for Fast UML Diagrams</a></li>
	<li><a href="https://marketplace.eclipse.org/content/findbugs-eclipse-plugin" target="_blank">FindBugs Eclipse Plugin</a></li>
	<li><a href="http://marketplace.eclipse.org/content/bytecode-visualizer" target="_blank">Bytecode Visualizer</a></li>
</ul>