/* GLOBALS */
a {
  color: #3367d6;
}
.blog-style-one .blog-item blockquote,
.comments blockquote {
	border-left: 4px solid #3367d6;
}
/* BUTTON */
.btn-prime,.sticky_label {
  background: #3367d6;
}
/* ICONS */
.social-icons ul li .fa:hover {
  background: #3367d6;
}
/* CONTENT PROGRESSBAR */
.progress .progress-bar,.navigate-page .page-links-title ~span{
  background-color: #3367d6;
}
/* NAVIGATION */
.header .navbar .main-navigation > ul > li a:hover {
  color: #3367d6;
}
.header .navbar .main-navigation > ul > li > .dropdown-menu li a:hover {
  background: #3367d6;
}
.header .navbar .main-navigation .navbar-nav .open > a {
  color: #3367d6;
}
/* BLOG SECTION */
.blog-item h2.title a:hover {
  color: #3367d6;
}
/* BLOG COMMENT AREA */
.comments-area .comments > ul li p a.author:hover,
.comments-area .comments > ul li p a.reply:hover {
  color: #3367d6;
}
.comments-area .comment-form .btn-prime:hover {
  background: #3367d6;
}
/* PAGINATION */
.navigate-page li:hover,
.navigate-page li.active {
  background: #3367d6;
}
