<section id="faq">
    <h3>FAQ</h3><hr class="notop">
<p>
    &nbsp;</p>
<p class="info">
    If you get 404 page not found error after installation.</p>
<div style="margin-left: 40px;">
    In this case your server needs the RewriteBase option to be set. Open the .htaccess file in the main folder and add the following line to it:</div>
<pre style="margin-left: 40px;">RewriteBase / </pre>
<div style="margin-left: 40px;">
    &nbsp;</div>
<div style="margin-left: 40px;">
    The .htaccess should look like this:</div>
<div style="margin-left: 40px;">
    &nbsp;</div>
<pre style="margin-left: 40px;">RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</pre>
<div style="margin-left: 40px;">
    &nbsp;</div>
<div style="margin-left: 40px;">
    If you have installed the application into a sub folder you need to add the sub folder name after the /&nbsp;</div>
<div style="margin-left: 40px;">
    The .htaccess file should look like this in this case:</div>
<div style="margin-left: 40px;">
    &nbsp;</div>
<pre style="margin-left: 40px;">RewriteEngine On
RewriteBase /your_sub_folder/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</pre>
<div>
    &nbsp;</div>
<p class="info">
    On <strong>Dreamhost</strong> you have to amend the .htaccess. If you get a “No Input File” error.</p>
<div style="margin-left: 40px;">
    The htaccess file should look like this:</div>
<pre style="margin-left: 40px;">RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/?$1 [L]
</pre>
<div>
    &nbsp;</div>
<p class="info">
    If you get “no input file specified” error on <strong>goDaddy</strong> web host</p>
<div style="margin-left: 40px;">
    &nbsp;you need to change the .htaccess as follows:&nbsp;</div>
<div style="margin-left: 40px;">
    &nbsp;</div>
<pre style="margin-left: 40px;">&lt;IfModule mod_rewrite.c&gt; 
RewriteEngine On 
RewriteCond $1 !\.(gif|jpe?g|png)$ [NC] 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /index.php?/$1 [L] 
&lt;/IfModule&gt; </pre>
<div>
    &nbsp;</div>

<div style="margin-left: 40px;">
    This error means that your servers PHP version is not 5.3 or higher. Contact your web host in order to update your PHP version to 5.3 or higher.</div>
<div style="margin-left: 40px;">
    &nbsp;</div>
<div>
    &nbsp;</div>
<p class="info">
    If you get a 500 Error after the installation try the following as .htaccess</p>
<pre style="margin-left: 40px;">RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]</pre>
<p>
    &nbsp;</p>
    <p class="info">
    If you get a 500 Error after the installation try the following as .htaccess</p>
    Another
<pre style="margin-left: 40px;">    Options +FollowSymLinks
    RewriteEngine on

    RewriteRule ^([a-z0-9_-]+)\.html$ index.php/page/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|asset|robots\.txt)
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</pre>
<p>
    &nbsp;</p>

</section>