                    <div class="row">
    <div class="col-xs-12 col-sm-8">


        <h1 class="h1-tutorial">SQL Tutorial: <span class="hh1">Introduction</span></h1>

        

        <div class="define" style="margin-top:15px;">
            <div style="list-style-type: none;padding-left:20px; font-style:italic;">What is SQL?</div>
            <ul>

                <li>SQL is a language used to retrieve and manipulate data in a RDMS.</li>
                <li>SQL stands for <u>S</u>tructured <u>Q</u>uery <u>L</u>anguage.</li>
            </ul>
            <div style="list-style-type: none;padding-left:20px;padding-top:10px; font-style:italic;">What is a Database?</div>
            <ul>

                <li>A database is a place to store data.</li>
                <li>A relational database system (RDMS) stores data in tables.</li>
                
            </ul>
        </div>

    </div>
    
</div>

<div class="sql">
    <br>
<hr class="hr-orange">
<br>
   
    <br>
    <h2>Relational Database Tables</h2>
    <br><br>
    <p>A relational database stores data in tables. Each table has a number of rows and columns. </p>
    <p>The table below has 4 rows and 3 columns.</p>
    <br>

    <img src="/Images/sql-table.jpg" class="img-responsive" style="padding:20px 10px 20px 20px;">
    <br><br>
    <hr class="hr-orange">
    <br>
    <h2>SQL and Relational Databases</h2>
    <br>
    <p>A relational database contains tables which store data that is related in some way.<br>
     SQL is the language that allows retrieval and manipulation of table data in a relational database.
    </p>
    <br>
    <p>The database below has 2 tables: one with data on <b>Users</b> and another with data on <b>Products</b>.</p>
    <br><br>
    <img src="/Images/sql-database.jpg" class="img-responsive" style="padding:20px 10px 20px 20px;">

  
    <br><br>
    <hr class="hr-orange">
    <br>
    <h2>Example database</h2>
    <br>
    <p>This tutorial uses a database which is a modernized version of Microsoft's Northwind database.
    Northwind is a fictitious store that sells specialty food products from all over the world. The database has 5 tables.
    </p>
    <br>
    <p> Below is an Entity Relationship Diagram (<strong>ERD</strong>) which shows the tables and their relationships.</p>
    <img src="/Images/sql-model.jpg" class="img-responsive" style="padding:50px 10px 50px 10px;">
    <p>
        Additional details of the data model are available on the <a href="/sql/sample-database" style="text-decoration:underline;">Sample Database</a> page.<br>
        You can also 'play' with the database directly from your browser using our <a href="/sql/sandbox" style="text-decoration:underline;">SQL Sandbox</a>.
    </p>

    <br>
<hr class="hr-orange">
<br>
   
</div>