                    <div class="row">
    <div class="col-xs-12 col-sm-8">

        <h1 class="h1-tutorial">SQL <span class="hh1">JOIN</span></h1>

        <div class="define">
            <ul>
                <li>A SQL JOIN combines records from two tables.</li>
                <li>A JOIN locates related column values in the two tables.</li>
                <li>A query can contain zero, one, or multiple JOIN operations.</li>
                <li>INNER JOIN is the same as JOIN; the keyword INNER is optional.</li>
            </ul>
        </div>
        <img src="/Images/sql-inner-join.png" class="img-responsive" style="padding:20px 10px 20px 20px;">
    </div>
    
</div>

<br>
<br>
<hr class="hr-orange">
<br>
<h2>Different types of JOINs</h2>
<div class="define">
    <ul>
        <li>(INNER) JOIN: Select records that have matching values in both tables.</li>
        <li>LEFT (OUTER) JOIN: Select records from the first (left-most) table with matching right table records.</li>
        <li>RIGHT (OUTER) JOIN: Select records from the second (right-most) table with matching left table records.</li>
        <li>FULL (OUTER) JOIN: Selects all records that match either left or right table records.</li>
    </ul>


    <img src="/Images/sql-joins.png" class="img-responsive" style="padding:20px 10px 20px 20px;">
    <p style="padding:20px 0 0 50px;">
        All INNER and OUTER keywords are optional.<br>
        Details about the differences between these JOINs are available in subsequent tutorial pages.
    </p>
</div>

<div class="sql">
    <br>
<hr class="hr-orange">
<br>
    <h2>The SQL JOIN syntax</h2>
    <br>
    The general syntax is:
    <br>
<pre class="prettyprint linenums lang-sql run code-hscroll"><ol class="linenums"><li class="L0"><span class="pln">SELECT column</span><span class="pun">-</span><span class="pln">names</span></li><li class="L1"><span class="pln">  FROM table</span><span class="pun">-</span><span class="pln">name1 JOIN table</span><span class="pun">-</span><span class="pln">name2 </span></li><li class="L2"><span class="pln">    ON column</span><span class="pun">-</span><span class="pln">name1 </span><span class="pun">=</span><span class="pln"> column</span><span class="pun">-</span><span class="pln">name2</span></li><li class="L3"><span class="pln"> WHERE condition</span></li></ol></pre>
    <br>
    The general syntax with INNER is:
    <br>
<pre class="prettyprint linenums lang-sql run code-hscroll"><ol class="linenums"><li class="L0"><span class="pln">SELECT column</span><span class="pun">-</span><span class="pln">names</span></li><li class="L1"><span class="pln">  FROM table</span><span class="pun">-</span><span class="pln">name1 INNER JOIN table</span><span class="pun">-</span><span class="pln">name2 </span></li><li class="L2"><span class="pln">    ON column</span><span class="pun">-</span><span class="pln">name1 </span><span class="pun">=</span><span class="pln"> column</span><span class="pun">-</span><span class="pln">name2</span></li><li class="L3"><span class="pln"> WHERE condition</span></li></ol></pre>
    <br>
    Note: The INNER keyword is optional: it is the default as well as the most commmonly used JOIN operation.

    <br><br>
    <hr class="hr-orange">
    <div class="hidden-sm" style="position:relative;">
        <table class="table-model hidden-xs" style="z-index:10;position:absolute;top:0px; right:20px;">
    <tbody><tr><th>CUSTOMER</th></tr>
    <tr><td class="white key">Id</td></tr>
    <tr><td class="white">FirstName</td></tr>
    <tr><td class="white">LastName</td></tr>
    <tr><td class="white">City</td></tr>
    <tr><td class="white">Country</td></tr>
    <tr><td class="white">Phone</td></tr>
</tbody></table>

        <table class="table-model hidden-xs" style="z-index:10;position:absolute;top:0px; right:220px;">
    <tbody><tr><th>ORDER</th></tr>
    <tr><td class="white key">Id</td></tr>
    <tr><td class="white">OrderDate</td></tr>
    <tr><td class="white">OrderNumber</td></tr>
    <tr><td class="white">CustomerId</td></tr>
    <tr><td class="white">TotalAmount</td></tr>
</tbody></table>
    </div>
    <br>
    <h2>SQL JOIN Examples</h2>
    <br><br>
    <b>Problem:</b> List all orders with customer information
    <br><br>
    <pre class="prettyprint linenums lang-sql run code-hscroll"><ol class="linenums"><li class="L0"><span class="pln">SELECT </span><span class="typ">OrderNumber</span><span class="pun">,</span><span class="pln"> </span><span class="typ">TotalAmount</span><span class="pun">,</span><span class="pln"> </span><span class="typ">FirstName</span><span class="pun">,</span><span class="pln"> </span><span class="typ">LastName</span><span class="pun">,</span><span class="pln"> </span><span class="typ">City</span><span class="pun">,</span><span class="pln"> </span><span class="typ">Country</span></li><li class="L1"><span class="pln">  FROM </span><span class="pun">[</span><span class="typ">Order</span><span class="pun">]</span><span class="pln"> JOIN </span><span class="typ">Customer</span></li><li class="L2"><span class="pln">    ON </span><span class="pun">[</span><span class="typ">Order</span><span class="pun">].</span><span class="typ">CustomerId</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="typ">Customer</span><span class="pun">.</span><span class="typ">Id</span></li></ol></pre>
    <br>
    In this example using table aliases for [Order] and Customer might have been useful.
    <br><br>
    <b>Results:</b> 830 records.
    <br><br>
    <div class="table-hscroll">

        <table class="table table-striped table-condensed">
            <tbody><tr>
                <th>OrderNumber</th>
                <th>TotalAmount</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>542378</td>
                <td>440.00</td>
                <td>Paul</td>
                <td>Henriot</td>
                <td>Reims</td>
                <td>France</td>
            </tr>
            <tr>
                <td>542379</td>
                <td>1863.40</td>
                <td>Karin</td>
                <td>Josephs</td>
                <td>Münster</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>542380</td>
                <td>1813.00</td>
                <td>Mario</td>
                <td>Pontes</td>
                <td>Rio de Janeiro</td>
                <td>Brazil</td>
            </tr>
            <tr>
                <td>542381</td>
                <td>670.80</td>
                <td>Mary</td>
                <td>Saveley</td>
                <td>Lyon</td>
                <td>France</td>
            </tr>
            <tr>
                <td>542382</td>
                <td>3730.00</td>
                <td>Pascale</td>
                <td>Cartrain</td>
                <td>Charleroi</td>
                <td>Belgium</td>
            </tr>
            <tr>
                <td>542383</td>
                <td>1444.80</td>
                <td>Mario</td>
                <td>Pontes</td>
                <td>Rio de Janeiro</td>
                <td>Brazil</td>
            </tr>
            <tr>
                <td>542384</td>
                <td>625.20</td>
                <td>Yang</td>
                <td>Wang</td>
                <td>Bern</td>
                <td>Switzerland</td>
            </tr>
            <tr>
                <td colspan="6"><img src="/Images/ellipsis.png"></td>
            </tr>
        </tbody></table>
    </div>

    <br>
    <br>
    <hr class="hr-orange">
    <div class="hidden-sm" style="position:relative;">
        <table class="table-model hidden-xs" style="z-index:10;position:absolute;top:0px; right:20px;">
    <tbody><tr><th>PRODUCT</th></tr>
    <tr><td class="white key">Id</td></tr>
    <tr><td class="white">ProductName</td></tr>
    <tr><td class="white">SupplierId</td></tr>
    <tr><td class="white">UnitPrice</td></tr>
    <tr><td class="white">Package</td></tr>
    <tr><td class="white">IsDiscontinued</td></tr>
</tbody></table>
        <table class="table-model hidden-xs" style="z-index:10;position:absolute;top:0px; right:220px;">
    <tbody><tr><th>ORDERITEM</th></tr>
    <tr><td class="white key">Id</td></tr>
    <tr><td class="white">OrderId</td></tr>
    <tr><td class="white">ProductId</td></tr>
    <tr><td class="white">UnitPrice</td></tr>
    <tr><td class="white">Quantity</td></tr>
</tbody></table>
        <table class="table-model hidden-xs" style="z-index:10;position:absolute;top:0px; right:420px;">
    <tbody><tr><th>ORDER</th></tr>
    <tr><td class="white key">Id</td></tr>
    <tr><td class="white">OrderDate</td></tr>
    <tr><td class="white">OrderNumber</td></tr>
    <tr><td class="white">CustomerId</td></tr>
    <tr><td class="white">TotalAmount</td></tr>
</tbody></table>
    </div>
    <br><br><br><br>
    <b>Problem:</b> List all orders with <br>
    product names, quantities, and prices
    <br><br><br>

    <pre class="prettyprint linenums lang-sql run code-hscroll"><ol class="linenums"><li class="L0"><span class="pln">SELECT O</span><span class="pun">.</span><span class="typ">OrderNumber</span><span class="pun">,</span><span class="pln"> CONVERT</span><span class="pun">(</span><span class="pln">date</span><span class="pun">,</span><span class="pln">O</span><span class="pun">.</span><span class="typ">OrderDate</span><span class="pun">)</span><span class="pln"> AS </span><span class="typ">Date</span><span class="pun">,</span><span class="pln"> </span></li><li class="L1"><span class="pln">       P</span><span class="pun">.</span><span class="typ">ProductName</span><span class="pun">,</span><span class="pln"> I</span><span class="pun">.</span><span class="typ">Quantity</span><span class="pun">,</span><span class="pln"> I</span><span class="pun">.</span><span class="typ">UnitPrice</span><span class="pln"> </span></li><li class="L2"><span class="pln">  FROM </span><span class="pun">[</span><span class="typ">Order</span><span class="pun">]</span><span class="pln"> O </span></li><li class="L3"><span class="pln">  JOIN </span><span class="typ">OrderItem</span><span class="pln"> I ON O</span><span class="pun">.</span><span class="typ">Id</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> I</span><span class="pun">.</span><span class="typ">OrderId</span><span class="pln"> </span></li><li class="L4"><span class="pln">  JOIN </span><span class="typ">Product</span><span class="pln"> P ON P</span><span class="pun">.</span><span class="typ">Id</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> I</span><span class="pun">.</span><span class="typ">ProductId</span></li><li class="L5"><span class="pln">ORDER BY O</span><span class="pun">.</span><span class="typ">OrderNumber</span></li></ol></pre>
    <br>
    This query performs two JOIN operations with 3 tables.<br>
    The O, I, and P are table aliases. Date is a column alias.<br>
    <br><br>
    <b>Results:</b> 2155 records
    <br><br>
    <div class="table-hscroll">

        <table class="table table-striped table-condensed">
            <tbody><tr>
                <th>OrderNumber</th>
                <th>Date</th>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
            </tr>
            <tr>
                <td>542378</td>
                <td>7/4/2012 12:00:00 AM</td>
                <td>Queso Cabrales</td>
                <td>12</td>
                <td>14.00</td>
            </tr>
            <tr>
                <td>542378</td>
                <td>7/4/2012 12:00:00 AM</td>
                <td>Singaporean Hokkien Fried Mee</td>
                <td>10</td>
                <td>9.80</td>
            </tr>
            <tr>
                <td>542378</td>
                <td>7/4/2012 12:00:00 AM</td>
                <td>Mozzarella di Giovanni</td>
                <td>5</td>
                <td>34.80</td>
            </tr>
            <tr>
                <td>542379</td>
                <td>7/5/2012 12:00:00 AM</td>
                <td>Tofu</td>
                <td>9</td>
                <td>18.60</td>
            </tr>
            <tr>
                <td>542379</td>
                <td>7/5/2012 12:00:00 AM</td>
                <td>Manjimup Dried Apples</td>
                <td>40</td>
                <td>42.40</td>
            </tr>
            <tr>
                <td>542380</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Jack's New England Clam Chowder</td>
                <td>10</td>
                <td>7.70</td>
            </tr>
            <tr>
                <td>542380</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Manjimup Dried Apples</td>
                <td>35</td>
                <td>42.40</td>
            </tr>
            <tr>
                <td>542380</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Louisiana Fiery Hot Pepper Sauce</td>
                <td>15</td>
                <td>16.80</td>
            </tr>
            <tr>
                <td>542381</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Gustaf's Knäckebröd</td>
                <td>6</td>
                <td>16.80</td>
            </tr>
            <tr>
                <td>542381</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Ravioli Angelo</td>
                <td>15</td>
                <td>15.60</td>
            </tr>
            <tr>
                <td>542381</td>
                <td>7/8/2012 12:00:00 AM</td>
                <td>Louisiana Fiery Hot Pepper Sauce</td>
                <td>20</td>
                <td>16.80</td>
            </tr>
            <tr>
                <td>542382</td>
                <td>7/9/2012 12:00:00 AM</td>
                <td>Sir Rodney's Marmalade</td>
                <td>40</td>
                <td>64.80</td>
            </tr>
            <tr>
                <td>542382</td>
                <td>7/9/2012 12:00:00 AM</td>
                <td>Geitost</td>
                <td>25</td>
                <td>2.00</td>
            </tr>
            <tr>
                <td colspan="5"><img src="/Images/ellipsis.png"></td>
            </tr>
        </tbody></table>
    </div>
    <br>
<hr class="hr-orange">
<br>
</div>
